<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>One Column | WhizCyber</title>
<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png"> 
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
<link rel="stylesheet" href="./assets/js/bootstrap.min.js">
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/mobile.css">
<link rel="stylesheet" href="./assets/css/super-class.css">
<link rel="stylesheet" href="./assets/css/custom-style.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
   <!-- HEADER-SECTION -->
   <div class="home-header-section">
    <figure class="banner-right-img left_icon img">
        <img src="./assets/images/header-right-img.png" alt="" class="star">
    </figure>
    <header class="header">
      <div class="main-header">
          <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <a class="navbar-brand pt-0" href="index.html"><img src="./assets/images/whiz-cyber-logo.png" alt="" class="img-fluid diverge-logo"></a>
                      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav">
                                  <li class="nav-item">
                                      <a class="nav-link text-decoration-none navbar-text-color home-margin-top" href="index.html">Home<span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link text-decoration-none navbar-text-color" href="about.html">About us</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link text-decoration-none navbar-text-color" href="services.html">Services</a>
                                  </li>
                                  <!-- <li class="nav-item navbar-text-color"><a class="nav-link text-decoration-none contact-us-margin navbar-text-color" href="pricing.html">Pricing</a></li> -->
                                  <li class="nav-item dropdown redlight-dropdown">
                                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                          <div class="dropdown-menu dropdown-content-redlight">
                                              <ul class="list-unstyled">
                                                  <li class="nav-item"> <a class="dropdown-item nav-link" href="faq.html">FAQs</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item nav-link" href="our-team.html">Our Team</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item nav-link" href="pricing.html">Pricing</a></li>
                                              </ul>
                                           </div>
                                  </li>
                                  <li class="nav-item dropdown redlight-dropdown blogs-li active">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                                          <div class="dropdown-menu dropdown-content-redlight blogs-section-drop-down">
                                              <ul class="list-unstyled">
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="single-post.html">Single Post</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="infinite-scroll.html">Infinite Scroll</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="load-more.html">Load More</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link active" href="one-column.html">One Column</a></li>
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="two-column.html">Two Column</a></li>
                                                  <li class="nav-item"><a class="dropdown-item fierce-menu nav-link"  href="three-column.html">Three Column</a></li>
                                                  <!-- <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="three-colum-sidbar.html">Three Column Slider</a></li> -->
                                                  <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link" href="four-column.html">Four Column</a></li>
                                                  <li class="nav-item"><a class="dropdown-item fierce-menu nav-link"  href="six-colum-full-wide.html">Six Column</a></li>
                                               </ul>
                                          </div>
                                  </li>
                              </ul>
                              <div class="btn-talk ml-auto">
                                  <ul class="m-0 p-0">
                                      <li class="list-unstyled d-lg-inline-block"><a class="nav-link contact" href="contact.html">Contact us</a></li>
                                  </ul>
                              </div>
                          </div>
              </nav>
          </div>
      </div>
  </header>
        <!-- BANNER-SECTION -->
        <div class="home-banner-section overflow-hidden position-relative sub-banner-section">
            <div class="banner-container-box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                           <div class="sub-banner-outer">
                            <h1>One Column</h1>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
                               velit esse ruam nihil molestiae.</p>
                               <div class="banner-btn discover-btn-banner">
                                   <div class="btn-inner">Home <span class="arrow-angles"><i class="fa fa-angles-right"></i></span><span class="about-margin">One Column</span></div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
         </div>
    </div>
</div>
  <div class="wrapper">
    <section class="blog-posts overflow-hidden">
      <div class="container">
        <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
          <div id="blog" class="col-xl-12"  data-aos="fade-up">
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div class="post-image">
                  <a href="#">
                    <img alt="" src="assets/images/post-featured.jpg">
                  </a>
                  <span class="post-meta-category">
                    <a href="">Lifestyle</a>
                  </span>
                </div>
                <div class="post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments">
                    <a href=""> 33 Comments </a>
                  </span>
                  <h2>
                    <a href="#">Standard post with a single image </a>
                  </h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More
                    <i class="fa fa-arrow-right"></i>
                  </a>
                  <!--post-item-description-->
                </div>
                <!--post-item-wrap-->
              </div>
              <!--post-item-->
            </div>
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div id="blogslider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/images/post-featured2.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/post-featured2.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/images/post-featured3.jpg" alt="">
                    </div>
                  </div>

                  <a class="carousel-control-prev" href="#blogslider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#blogslider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                <span class="post-meta-category"><a href="">Technology</a></span>
                <div class="post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments"><a href=""> 33 Comments </a></span>
                  <h2>
                    <a href="#">Simplicity, a post with slider gallery</a>
                  </h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More <i
                      class="fa fa-arrow-right"></i></a>
                  <!--post-item-description-->
                </div>
                <!--post-item-wrap-->
              </div>
              <!--post-item-->
            </div>
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div class="post-image">
                  <a href="#">
                    <img alt="" src="assets/images/post-featured4.jpg">
                  </a>
                  <span class="post-meta-category">
                    <a href="#">Science</a>
                  </span>
                </div>
                <div class="post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments">
                    <a href=""> 33 Comments </a>
                  </span>
                  <h2><a href="#">Standard post with a single image </a></h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More <i
                      class="fa fa-arrow-right"></i></a>
                  <!--post-item-description-->
                </div>
                <!--post-item-wrap-->
              </div>
              <!--post-item-->
            </div>
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div class="post-audio position-relative">
                  <a href="#">
                    <img alt="" src="assets/images/post-featured.jpg">
                  </a>
                  <span class="post-meta-category">
                    <a href="">Audio</a>
                  </span>
                  <audio class="position-absolute" controls="">
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="assets/audio/horse.mp3" type="audio/mpeg">
                  </audio>
                </div>
                <div class="post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments">
                    <a href=""> 33 Comments </a>
                  </span>
                  <h2>
                    <a href="#">Self Hosted HTML5 Audio (mp3) with image cover</a>
                  </h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More <i
                      class="fa fa-arrow-right"></i></a>
                  <!--post-item-description-->
                </div>
                <!--post-item-wrap-->
              </div>
              <!--post-item-->
            </div>
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div class="post-video">
                  <div class="embed-container">
                    <iframe src="https://player.vimeo.com/video/157467640?background=1"></iframe>
                  </div>
                  <span class="post-meta-category"><a href="">Video</a></span>
                </div>
                <div class="post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments"><a href=""> 33 Comments </a></span>
                  <h2>
                    <a href="#">This is a example post with Vimeo video</a>
                  </h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More <i
                      class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="float-left w-100 post-item border mb-4">
              <div class="post-item-wrap position-relative">
                <div class="post-video">
                  <div class="fluid-width-video-wrapper">
                    <iframe width="560" height="376" src="https://www.youtube.com/embed/dA8Smj5tZOQ"></iframe>
                  </div>
                  <span class="post-meta-category"><a href="">Video</a></span>
                  <!--post-video-->
                </div>
                <div class="float-left w-100 post-item-description">
                  <span class="post-meta-date"> Jan 21, 2017 </span>
                  <span class="post-meta-comments"><a href=""> 33 Comments </a></span>
                  <h2><a href="#">This is a example post with YouTube</a></h2>
                  <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere
                    ac. Vivamus luctus commodo dolor porta feugiat. Fusce at
                    velit id ligula ac sagittis ante posuere ac pharetra
                    laoreet commodo dolor porta.
                  </p>
                  <a href="single-post.html" class="item-link text-decoration-none">Read More <i
                      class="fa fa-arrow-right"></i></a>
                  <!--post-item-description-->
                </div>
                <!--post-item-wrap-->
              </div>
              <!--post-item-->
            </div>
            <!--blog-->
          </div>
          <!--row-->
        </div>
      </div>
    </section>
  </div>
 <!-- Footer-Section -->
 <div class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="footer-content1">
                 <a href="index.html" class="text-decoration-none"><figure><img src="./assets/images/footer-logo.png" alt="" class="img-fluid"></figure></a>
                  <p class="footer-section-text">Deleniti aeue corrupti quos dolores et quas molestias excepturi sint occaecati rupiditate non provident, similique sunt...</p>
                  <ul class="list-unstyled">
                      <li class="list-item">
                          <a href="#"><i class="fa-brands fa-facebook-f marginLeft"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter marginLeft"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram marginLeft"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 d-lg-block d-none">
              <h5 class="footer-link footer-next-list footer-next-list-about">About Us</h5>
              <ul class="useful-footer"> 
                  <li>
                      <a href="services.html" class="text-decoration-none footer-link-p">
                          Services
                      </a>
                  </li>
                  <li>
                      <a href="pricing.html" class="text-decoration-none footer-link-p">
                          Pricing
                      </a>
                  </li>
                  <li>
                      <a href="about.html" class="text-decoration-none footer-link-p">
                         About Us
                      </a>
                  </li>
                  <li>
                      <a href="our-team.html" class="text-decoration-none footer-link-p">
                          Our Teams
                      </a>
                  </li>
                  <li>
                      <a href="./contact.html" class="text-decoration-none footer-link-p">
                          Contact us
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 d-md-block d-none">
              <h5 class="footer-link text-white footer-next-list footer-next-list-contact">Contact Info</h5>
              <div class="footer-list footer-link contact-list">
                  <div class="icon-list-box1">
                      <ul class="list-unstyled contact-us-ul">
                          <li class="list-item">
                          <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">+61 3 8376 6284</a>
                          <i class="fa fa-phone fa-icon footer-location3"></i>
                          </li>
                          <li class="list-item">
                          <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">Info@whizcyber.om</a>
                          <i class="fa fa-envelope fa-icon footer-location2"></i>
                          </li>
                          <li class="list-item">
                          <a class="text-decoration-none footer-link-auto">21 King Street Melbourne,3000, Australia</a>
                          <i class="fa-solid fa-location-dot footer-location"></i>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="footer-list signupbox">
                  <h4 class="footer-link text-white footer-next-list footer-next-list-signup">Sign up for Newsletter</h4>
                  <div class="icon-list-box1">
                      <div class="col-inner">
                          <input type="tel" name="email" class="form-control input-fill" placeholder="Email Address:">
                      </div>
                      <div class="form-btn">
                          <button type="submit" class="btn btn-primary">Subscribe</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>           
  </div>
  <div class="footer-bar text-center">
      <div class="row">
          <div class="footer-bar-content w-100">
              <p class="text-size-16 mb-0">Whizcyber copyright © 2022. All Rights Reserved.</p>
          </div>
      </div>
 </div>
</div>

  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="assets/js/animations.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/custom-script.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="assets/js/text-animations.js"></script>
  <script src="assets/js/carousel.js"></script>
  <script src="assets/js/showhide.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <script src="https://unpkg.com/ityped@0.0.10"></script>
  <script src="./assets/js/type.js"></script>

</body>

</html>