<section class="doc_banner_area search-banner-light">
    <ul class="list-unstyled banner_shap_img">
    </ul>
    <div class="container">
        <div class="doc_banner_content">
            <form action="#" class="header_search_form">
                <div class="header_search_form_info">
                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="icon_search"></i>
                            <input type='search' id="searchbox" autocomplete="off" name="search"
                                placeholder="Search for Topics...." />

                            <div class="header_search_form_panel">
                                <ul class="list-unstyled search_item" id="search-hero-results"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_search_keyword">
                    <span class="header-search-form__keywords-label">Popular Searches:</span>
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp" data-wow-delay="0.2s"><a href="#">Docy Documentation</a>,</li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#">Tabs Widget</a>,</li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s"><a href="#">Process Tab</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>