<section class="breadcrumb_area">
    <img alt="" class="p_absolute bl_left" src={{"img/v.svg" | relative_url}}>
    <img alt="" class="p_absolute bl_right" src={{"img/home_one/b_leaf.svg" | relative_url}}>
    <img alt="" class="p_absolute star" src={{"img/home_one/banner_bg.png" | relative_url}}>
    <img alt="" class="p_absolute wave_shap_one" src={{"img/blog-classic/shap_01.png" | relative_url}}>
    <img alt="" class="p_absolute wave_shap_two" src={{"img/blog-classic/shap_02.png" | relative_url}}>
    <img alt="" class="p_absolute one wow fadeInRight" src={{"img/home_one/b_man_two.png" | relative_url}}>
    <img alt="" class="p_absolute two wow fadeInUp" data-wow-delay="0.2s" src={{"img/home_one/flower.png" | relative_url}}>
    <div class="container custom_container">
        <form action="#" class="banner_search_form banner_search_form_two">
            <div class="input-group input-wrapper header_search_form_info">
                <input class="form-control" id="searchbox" placeholder="Search ('/' to focus)" type="search">
                <button type="submit">
                    <i class="icon_search"></i>
                </button>
                <div class="header_search_form_panel">
                    <ul class="list-unstyled search_item" id="search-hero-results"></ul>
                </div>
            </div>
        </form>
    </div>
</section>