<article class="shortcode_info rvfs-section">
    <div class="shortcode_title" id="lightbox">
        <h2>Image Lightbox</h2>
        <p>A Dashboard is a convenient way to get an overview of the the current status of your tasks and monitorthe
                                                                                                                        progress of your team.</p>
    </div>
    <div class="lightbox_shortcode">
        <img src="{{"img/image-lightbox.jpg" | relative_url}}" alt="lightbox">
        <a href="{{"img/lightbox-preview.jpg" | relative_url}}" class="img_popup">
            <i class="icon_plus"></i>
        </a>
    </div>
    <div class="image_pointer mt-5">
        <div class="shortcode_title">
            <h4 class="load-order-2" id="modal-lightbox">Modal Lightbox</h4>
            <p>Demo Edit Guide via edit guide you can find where to edit elements, header, footer, etc.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="pointing_img">
                    <a data-target="#exampleModalLightBox" data-toggle="modal" href="#">
                        <img src="{{"img/img-pointer1.jpg" | relative_url}}" alt="">
                    </a>
                    <h6>How to edit
                        <a href="#">Docy</a>
                    </h6>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="pointing_img">
                    <a data-target="#exampleLightBox2" data-toggle="modal" href="#">
                        <img src="{{"img/img-pointer2.jpg" | relative_url}}" alt="">
                    </a>
                    <h6>How to edit
                        <a href="#">Docy2</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</article>


<!-- Image Hotspots modal popup 01 -->
<div aria-hidden="true" class="modal fade img_modal" id="exampleModalLightBox" role="dialog" tabindex="-1">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog pointing_img_container" role="document">
        <div class="modal-content">
            <img src="{{"img/img-large.jpg" | relative_url}}" alt="large">
            <div class="img_pointing one tooltips" data-tooltip-content="#img_tooltipone">
                <div class="dot"></div>
            </div>
            <div class="img_pointing two tooltips" data-tooltip-content="#img_tooltiptwo">
                <div class="dot"></div>
            </div>
            <div class="img_pointing three tooltips" data-tooltip-content="#img_tooltipthree">
                <div class="dot"></div>
            </div>
            <div class="img_pointing four tooltips" data-tooltip-content="#img_tooltipfour">
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>

<!-- Image Hotspots modal popup 02 -->
<div aria-hidden="true" class="modal fade img_modal" id="exampleLightBox2" role="dialog" tabindex="-1">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog pointing_img_container" role="document">
        <div class="modal-content">
            <img src="{{"img/home2-large.jpg" | relative_url}}" alt="large">
            <div class="img_pointing one tooltips" data-tooltip-content="#img_tooltipone">
                <div class="dot"></div>
            </div>
            <div class="img_pointing two tooltips" data-tooltip-content="#img_tooltiptwo">
                <div class="dot"></div>
            </div>
            <div class="img_pointing three tooltips" data-tooltip-content="#img_tooltipthree">
                <div class="dot"></div>
            </div>
            <div class="img_pointing four tooltips" data-tooltip-content="#img_tooltipfour">
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>

<!--    tooltip one -->
<div class="tooltip_templates d-none">
    <div id="img_tooltipone">
        <div class="img_pointing_content">
            <p>For editing menu navigation settings go to
                <span>Theme Options > Header > Top of Header > Menu
                                                                                                                                                                                                        Element</span>
            </p>
            <p>For editing menus items go to
                <span>Appearance > Menus</span>
            </p>
            <p>And for styling menus go to
                <span>Theme Options > Header > Top of Header > Menu Styles of this Row</span>
            </p>
        </div>
    </div>
</div>
<!--    tooltip two -->
<div class="tooltip_templates d-none">
    <div id="img_tooltiptwo">
        <div class="img_pointing_content">
            <p>For editing menu navigation settings go to
                <span>Theme Options > Header > Top of Header > Menu
                                                                                                                                                                                                        Element</span>
            </p>
            <p>For editing menus items go to
                <span>Appearance > Menus</span>
            </p>
            <p>And for styling menus go to
                <span>Theme Options > Header > Top of Header > Menu Styles of this Row</span>
            </p>
        </div>
    </div>
</div>
<!--    tooltip three -->
<div class="tooltip_templates d-none">
    <div id="img_tooltipthree">
        <div class="img_pointing_content">
            <p>For editing menu navigation settings go to
                <span>Theme Options > Header > Top of Header > Menu
                                                                                                                                                                                                        Element</span>
            </p>
            <p>For editing menus items go to
                <span>Appearance > Menus</span>
            </p>
            <p>And for styling menus go to
                <span>Theme Options > Header > Top of Header > Menu Styles of this Row</span>
            </p>
        </div>
    </div>
</div>
<!--    tooltip four -->
<div class="tooltip_templates d-none">
    <div id="img_tooltipfour">
        <div class="img_pointing_content">
            <p>For editing menu navigation settings go to
                <span>Theme Options > Header > Top of Header > Menu
                                                                                                                                                                                                        Element</span>
            </p>
            <p>For editing menus items go to
                <span>Appearance > Menus</span>
            </p>
            <p>And for styling menus go to
                <span>Theme Options > Header > Top of Header > Menu Styles of this Row</span>
            </p>
        </div>
    </div>
</div>