<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">
        <h1>Change Log</h1>
        <p>
            <span>Welcome to Docy !</span>
            Get familiar with the Docyproducts and explore their features:</p>
    </div>
    <div class="changelog_inner">
        <div class="row changelog_info" id="v1_6">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Jun 14, 2020
                    </h6>
                    <p>Version Name</p>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version ">
                        1.6
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="improve">Improvement</span>Can I use just the Grid?</p>
                    <p>
                        <span class="new">New</span>Added WooCommerce functionality</p>
                    <p>
                        <span class="new">New</span>
                        Template Header</p>
                    <p>
                        <span class="new">New</span>SEO Agency Prebuilt Website</p>
                    <p>
                        <span class="new">New</span>Why is Foundation free?</p>
                    <p>
                        <span class="new">New</span>Added Services, Cases pages</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row changelog_info" id="v1_5">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>July 14, 2020
                    </h6>
                    <p>Version Name</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        1.5
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="improve">Improvement</span>Can I use just the Grid?</p>
                    <p>
                        <span class="new">New</span>Added WooCommerce functionality</p>
                    <p>
                        <span class="new">New</span>
                        Template Header</p>
                    <p>
                        <span class="new">New</span>SEO Agency Prebuilt Website</p>
                    <p>
                        <span class="new">New</span>Why is Foundation free?</p>
                    <p>
                        <span class="new">New</span>Added Services, Cases pages</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row changelog_info" id="v1_5_1">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>April 10, 2019</h6>
                    <p>Version Name</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        1.5.1
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="improve">Improvement</span>3d Effects not Working in Tabs</p>
                    <p>
                        <span class="improve">Improvement</span>Option to Disable the Parallax on Default Posts</p>
                    <p>
                        <span class="improve">Improvement</span>
                        Transition to Sticky Menu</p>
                    <p>
                        <span class="improve">Improvement</span>Liquid Events Scroll Indicator</p>
                    <p>
                        <span class="update">Update</span>improve Improvement</p>
                    <p>
                        <span class="update">Update</span>Testimonial Carousel Issue</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row changelog_info" id="v1_5_2">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>April 10, 2019</h6>
                    <p>Version Name</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        1.5.2
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="fixed">fixed</span>3d Effects not Working in Tabs</p>
                    <p>
                        <span class="improve">Improvement</span>Option to Disable the Parallax on Default Posts</p>
                    <p>
                        <span class="improve">Improvement</span>
                        Transition to Sticky Menu</p>
                    <p>
                        <span class="improve">Improvement</span>Liquid Events Scroll Indicator</p>
                    <p>
                        <span class="update">Update</span>improve Improvement</p>
                    <p>
                        <span class="update">Update</span>Testimonial Carousel Issue</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row changelog_info" id="v1_4">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>June 23, 2019</h6>
                    <p>Version Name</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        1.4
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="update">Update</span>Added Services, Cases pages</p>
                    <p>
                        <span class="update">Update</span>Added WooCommerce functionality</p>
                    <p>
                        <span class="update">Update</span>
                        Template Header</p>
                    <p>
                        <span class="update">Update</span>How many people run Foundation?</p>
                    <p>
                        <span class="update">Update</span>Why doesn't Foundation Have</p>
                    <p>
                        <span class="update">Update</span>Can I use just the Grid?</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row changelog_info" id="v1_3">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>March 23, 2019</h6>
                    <p>Version Name</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        1.3
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="changelog_content">
                    <p>
                        <span class="improve">Improvment</span>How to use Conditional Logic</p>
                    <p>
                        <span class="improve">Improvment</span>How to Setup Automatic Post Expiration</p>
                    <p>
                        <span class="improve">Improvment</span>Add Multi Column Classes to Post Forms</p>
                    <p>
                        <span class="fixed">Fixed</span>Preview Post Forms before posting</p>
                    <p>
                        <span class="fixed">Fixed</span>How to Allow Guest Posting</p>
                    <p>
                        <span class="fixed">Fixed</span>How to Limit Post Form Entries</p>
                    <div class="download-links">
                        <a class="changelog_btn" href="#">
                            <i class="icon_document_alt"></i>Zip</a>
                        <a class="changelog_btn" href="#">
                            <i class="icon_cloud-download_alt"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>