<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">
        {% if page.category %}
            <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>Tabs Widget</h1>
        <p>Welcome to Docy ! Get familiar with the Docy products and explore their features, guides, tips and tools.</p>
    </div>

    <div class="tab_shortcode">
        <div class="shortcode_title">
            <h4>Horizontal Tab</h4>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">Conclusions</a>
            </li>
            <li class="nav-item">
                <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">Forum</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">Reporting</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                Don't get shirty with me what a plonker on your bike mate bugger all mate chip shop bits and bobs
                                                                                                                                smashing mush bugger cup of char, in my flat.
            </div>
            <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                Don't get shirty with me what a plonker on your bike mate bugger all mate chip shop bits and bobs
                                                                                                                                smashing mush bugger cup of char, in my flat.
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
                Don't get shirty with me what a plonker on your bike mate bugger all mate chip shop bits and bobs
                                                                                                                                smashing mush bugger cup of char, in my flat.
            </div>
        </div>
    </div>

    <div class="shortcode_title">
        <h4>Process Tab</h4>
        <p class="just_ch_color">Try the Docy API in seconds. Create your first customer,
                                                                                                charge, and more by
                                                                                                following the step below.</p>
    </div>
    <div class="process_tab_shortcode">
        <ul class="nav nav-tabs v_menu" id="myTabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="card" aria-selected="true" class="nav-link active" data-toggle="tab" href="#card" id="card-tab" role="tab">
                    <span>1</span>Card</a>
            </li>
            <li class="nav-item">
                <a aria-controls="customer" aria-selected="false" class="nav-link" data-toggle="tab" href="#customer" id="customer-tab" role="tab">
                    <span>2</span>Customer</a>
            </li>
            <li class="nav-item">
                <a aria-controls="charge" aria-selected="false" class="nav-link" data-toggle="tab" href="#charge" id="charge-tab" role="tab">
                    <span>3</span>Charge</a>
            </li>
            <li class="nav-item">
                <a aria-controls="sub" aria-selected="false" class="nav-link" data-toggle="tab" href="#sub" id="sub-tab" role="tab">
                    <span>4</span>Subscription</a>
            </li>
            <li class="nav-item">
                <a aria-controls="success" aria-selected="false" class="nav-link" data-toggle="tab" href="#success" id="success-tab" role="tab">
                    <span>5</span>Success!</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContents">
            <div aria-labelledby="card-tab" class="tab-pane fade show active" id="card" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                                                                                                                                                                chinwag spend a penny
                                                                                                                                                                lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                                                                                                                                                                                                                                sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                                                                                                                                                                                                                                appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
            </div>
            <div aria-labelledby="customer-tab" class="tab-pane fade" id="customer" role="tabpanel">
                <p class="ft_change">Tristique omnis? Hymenaeos montes facilisi magnam facilisi
                                                                                                                                                                ante voluptates
                                                                                                                                                                odio nulla exercitationem tincidunt maecenas, dolores mauris praesent
                                                                                                                                                                placeat</p>
                <div class="version">
                    <p>Vivamus vero netus tristique venenatis excepteur nisl diamlorem nobis
                                                                                                                                                                                                dolorem consequatur repellendus voluptatibus sit voluptas similique
                                                                                                                                                                                                taciti pariatur, veniam, consequatur.</p>
                    <p>Maecenas tempore facilis temporibus quas! Eius illo optio, rhoncus
                                                                                                                                                                                                expedita doloremque gravida, aptent, pariatur porro</p>
                    <p>Tristique omnis? Hymenaeos montes facilisi magnam facilisi ante
                                                                                                                                                                                                voluptates odio nulla exercitationem tincidunt maecenas, dolores mauris
                                                                                                                                                                                                praesent placeat</p>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="charge-tab" class="tab-pane fade" id="charge" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                                                                                                                                                                chinwag spend a penny
                                                                                                                                                                lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                                                                                                                                                                                                                                sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                                                                                                                                                                                                                                appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="sub-tab" class="tab-pane fade" id="sub" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                                                                                                                                                                chinwag spend a penny
                                                                                                                                                                lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                                                                                                                                                                                                                                sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                                                                                                                                                                                                                                appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="success-tab" class="tab-pane fade" id="success" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                                                                                                                                                                chinwag spend a penny
                                                                                                                                                                lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                                                                                                                                                                                                                                sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                                                                                                                                                                                                                                appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-lg previous">
                <i class="arrow_carrot-left"></i>
            </button>
            <button class="btn btn-info btn-lg next">
                <i class="arrow_carrot-right"></i>
            </button>
        </div>
    </div>

</div>