<article class="shortcode_info">
    <div class="shortcode_title">
        <h1>Image Hotspots</h1>
        <p>
            <span>Welcome to Docy !</span>
            Get familiar with the Docyproducts and explore                                                                                        their features:
        </p>
    </div>
    <h4 class="s_title load-order-2" id="pointing">Image Hotspots</h4>
    <div class="pointing_img_container pointing_img_two">
        <div class="divs">
            <div class="cls1">1</div>
            <div class="cls2">2</div>
            <div class="cls3">3</div>
            <div class="cls4">4</div>
        </div>
        <img class="img-fluid" src="{{"img/home2-large.jpg" | relative_url}}" alt="large">
        <ul class="nav list">
            <li class="cls1">
                <div aria-expanded="false" aria-haspopup="true" class="img_pointing one" data-toggle="dropdown" role="button">
                    <div class="dot"></div>
                </div>
                <div class="dropdown-menu">
                    <div class="text_part">
                        <div class="close_btn">
                            <img src="{{"img/svg/close.svg" | relative_url}}" alt="">
                        </div>
                        <h4>Welcome to Docy
                            <span>1/6</span>
                        </h4>
                        <p>
                            In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                    clicking
                                                                                                                                                                                                                                                                                                                    on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                    template
                                                                                                                                                                                                                                                                                                                    button').Input numbers into spaces provided.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="prev">prev</div>

                        </div>
                        <div class="col-6">
                            <div class="bullets_pointing">
                                <ul class="nav justify-content-center">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="next">next</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cls2">
                <div aria-expanded="false" aria-haspopup="true" class="img_pointing two" data-toggle="dropdown" role="button">
                    <div class="dot"></div>
                </div>
                <div class="dropdown-menu">
                    <div class="text_part">
                        <div class="close_btn">
                            <img src="{{"img/svg/close.svg" | relative_url}}" alt="">
                        </div>
                        <h4>Welcome to Docy
                            <span>2/6</span>
                        </h4>
                        <p>
                            In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                    clicking
                                                                                                                                                                                                                                                                                                                    on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                    template
                                                                                                                                                                                                                                                                                                                    button').Input numbers into spaces provided.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="prev">prev</div>

                        </div>
                        <div class="col-6">
                            <div class="bullets_pointing">
                                <ul class="nav justify-content-center">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="next">next</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cls3">
                <div aria-expanded="false" aria-haspopup="true" class="img_pointing three" data-toggle="dropdown" role="button">
                    <div class="dot"></div>
                </div>
                <div class="dropdown-menu">
                    <div class="text_part">
                        <div class="close_btn">
                            <img src="{{"img/svg/close.svg" | relative_url}}" alt="">
                        </div>
                        <h4>Welcome to Docy
                            <span>3/6</span>
                        </h4>
                        <p>
                            In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                    clicking
                                                                                                                                                                                                                                                                                                                    on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                    template
                                                                                                                                                                                                                                                                                                                    button').Input numbers into spaces provided.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="prev">prev</div>

                        </div>
                        <div class="col-6">
                            <div class="bullets_pointing">
                                <ul class="nav justify-content-center">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="next">next</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cls4">
                <div aria-expanded="false" aria-haspopup="true" class="img_pointing four" data-toggle="dropdown" role="button">
                    <div class="dot"></div>
                </div>
                <div class="dropdown-menu">
                    <div class="text_part">
                        <div class="close_btn">
                            <img src="{{"img/svg/close.svg" | relative_url}}" alt="">
                        </div>
                        <h4>Welcome to Docy
                            <span>4/6</span>
                        </h4>
                        <p>
                            In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                    clicking
                                                                                                                                                                                                                                                                                                                    on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                    template
                                                                                                                                                                                                                                                                                                                    button').Input numbers into spaces provided.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="prev">prev</div>

                        </div>
                        <div class="col-6">
                            <div class="bullets_pointing">
                                <ul class="nav justify-content-center">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="next">next</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="image_pointer">
        <div class="shortcode_title">
            <h4 class="load-order-2" id="demo">Demo Edit Guide</h4>
            <p>Via edit guide you can find where to edit elements, header, footer, etc.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="pointing_img">
                    <a data-target="#exampleModalImgHotspot" data-toggle="modal" href="#">
                        <img src="{{"img/img-pointer1.jpg" | relative_url}}" alt="">
                    </a>
                    <h6>How to edit
                        <a href="#">Docy</a>
                    </h6>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="pointing_img">
                    <a data-target="#exampleModal2ImgHotspot" data-toggle="modal" href="#">
                        <img src="{{"img/img-pointer2.jpg" | relative_url}}" alt="">
                    </a>
                    <h6>How to edit
                        <a href="#">Docy2</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</article>


<!-- Image Hotspots modal popups -->
<div aria-hidden="true" class="modal fade img_modal" id="exampleModalImgHotspot" role="dialog" tabindex="-1">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog pointing_img_container" role="document">
        <div class="modal-content">
            <img alt="large" src="{{"img/img-large.jpg" | relative_url}}">
            <ul class="nav list">
                <li class="cls1">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing one" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>1/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls2">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing two" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>2/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls3">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing three" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>3/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls4">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing four" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>4/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div aria-hidden="true" class="modal fade img_modal" id="exampleModal2ImgHotspot" role="dialog" tabindex="-1">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog pointing_img_container" role="document">
        <div class="modal-content">
            <img alt="large" src="{{"img/home2-large.jpg" | relative_url}}">
            <ul class="nav list">
                <li class="cls1">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing one" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>1/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls2">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing two" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>2/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls3">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing three" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>3/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cls4">
                    <div aria-expanded="false" aria-haspopup="true" class="img_pointing four" data-toggle="dropdown" role="button">
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-menu">
                        <div class="text_part">
                            <div class="close_btn">
                                <img alt="" src="{{"img/svg/close.svg" | relative_url}}">
                            </div>
                            <h4>Welcome to Docy Portal
                                <span>4/6</span>
                            </h4>
                            <p>
                                In order to input a question start by choosing atemplate by
                                                                                                                                                                                                                                                                                                                                                                clicking
                                                                                                                                                                                                                                                                                                                                                                on 'Choose Template' button. (Screen to gif 'choose your
                                                                                                                                                                                                                                                                                                                                                                template
                                                                                                                                                                                                                                                                                                                                                                button').Input numbers into spaces provided.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="prev">prev</div>

                            </div>
                            <div class="col-6">
                                <div class="bullets_pointing">
                                    <ul class="nav justify-content-center">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="next">next</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>