<article class="shortcode_info rvfs-section">
    <div class="shortcode_title">
        {% if page.category %}
            <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>Footnotes</h1>
        <p>
            <span>Welcome to Docy !</span>
            Get familiar with the Stripe products and explore their features:</p>
    </div>

    <p>Apparently we had reached a
        <span title="Lorem ipsum dolor sit">great height</span>
        in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the
        <span title="Lorem ipsum dolor, sit amet consectetur adipisicing">same illusion</span>
        which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a
        <span class="tooltip-trigger" title="Lorem ipsum dolor">ruddy light</span>
        streaming through a rift in the clouds.</p>

    <h4>Lorem Title 01</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore suscipit
        <a class="footnotes-link tooltips" data-tooltip-content="#note-link-a" href="#note-name-a" id="note-link-1"></a>
        animi consequatur. Accusantium quibusdam dolorum at a, numquam deserunt.</p>
    <p>Lorem ipsum dolor sit
        <a class="footnotes-link tooltips" data-tooltip-content="#note-link-b" href="#note-name-b" id="note-link-2"></a>
        amet consectetur, adipisicing elit. Quia quos autem veniam libero! Deleniti nemo quas optio voluptas voluptatibus sint ratione. Id vel error quia ipsam sit saepe hic at amet excepturi ea. Voluptas sunt ratione consequatur
        <a class="footnotes-link tooltips" data-tooltip-content="#note-link-c" href="#note-name-c" id="note-link-3"></a>
        optio porro eaque nam quod ex illum modi id animi fugiat vero explicabo illo officiis assumenda nulla rerum, dignissimos sed dicta pariatur quis eum. Beatae ea cumque alias ducimus quos maxime sed, modi illum at repellendus, ex deleniti nesciunt tempore placeat in accusantium!</p>

    <h4>Lorem Title 02</h4>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptas molestias expedita, ad dolorem inventore dolorum ipsum deleniti illum tempore veritatis iure nam numquam maxime eaque magnam, similique quo dolore vero optio ex reprehenderit! Et ab voluptatibus minima suscipit necessitatibus magni error, quaerat praesentium iusto corrupti, magnam nostrum repellat. Eligendi ipsam, voluptatibus quidem quos quasi totam aperiam voluptates illum quibusdam similique, sapiente necessitatibus. Dolore in est dolores debitis voluptas, sunt et ullam. Voluptates similique incidunt numquam porro, veniam totam dolore error, iste consequuntur quibusdam quod dignissimos in laborum deserunt impedit cum fugit quisquam ex quo, quidem voluptatum minima velit!
                                                Nisi accusantium ullam suscipit sapiente, harum quvelit animi laborum veritatis, ipsam eius, natus facere. Natus voluptates, et deleniti eum odio eligendi dolores cupiditate. Consequuntur hic adipisci quisquam praesentium commodi laudantium sed et modi reprehenderit. Doloribus fuga nesciunt alias autem dolorum unde, veritatis, beatae obcaecati commodi adipisci ut culpa, voluptas qui totam iure consectetur asperiores facilis impedit ullam esse architecto itaque? Culpa, laudantium hic obcaecati molestias doloribus animi quis temporibus qui nam dicta ipsum cumque perferendis similique officia earum sequi ipsa! Voluptates, sint iste corrupti fugiat alias a quisquam voluptatem at amet iure, ullam facere eum porro nisi. Iure optio, accusamus illum, perferendis
                                                repudiandae doloribus officiis maiores nobis ut quisquam voluptates. Ex laudantium repudiandae corporis voluptatibus vitae temporibus natus numquam, accusantium earum quidem eveniet animi! Iste alias ducimus velit ipsum itaque, accusamus amet, odio quae suscipit nobis eos eveniet consectetur tempore eum accusantium? Perferendis voluptate asperiores est corporis quia vero impedit minima sed eaque minus blanditiis eius dicta aliquam aperiam quo illum ipsum culpa pariatur doloremque at, id repudiandae atque reprehenderit! Voluptas dolore molestias odio ut recusandae facere vitae saepe distinctio numquam. Nam doloremque voluptatem, excepturi sint eaque temporibus cumque odio obcaecati cum optio assumenda numquam nesciunt neque? Iste ipsum esse modi iusto impedit odio vel neque. Voluptatem.
    </p>

    <div class="footnotes margin-top-xl">
        <h4>Footnotes</h4>
        <ol>
            <li class="footnotes_item" id="note-name-a">
                <a aria-label="Back to article" class="back-article" href="#note-link-1">
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
                <strong>Footnote Name A</strong>
                <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas dicta dolor.
            </li>
            <li class="footnotes_item" id="note-name-b">
                <a aria-label="Back to article" class="back-article" href="#note-link-2">
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
                <strong>Footnote Name B</strong>
                <a href="#0">[PDF]</a>
                <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas dicta dolor.
            </li>
            <li class="footnotes_item" id="note-name-c">
                <a aria-label="Back to article" class="back-article" href="#note-link-3">
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
                <strong>Footnote Name C</strong>
                <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas dicta dolor.
            </li>
        </ol>
    </div>

</article>