<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <img alt="" class="doc_shap_one" src="img/new/shap.png">
            <div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">{{include.title}}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">{{include.subtitle}}</p>
            </div>
            <div class="row">
                {% for item in site.data.recommended_topics %}
                    <div class="col-lg-3 col-6">
                        <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="{{item.img}}" alt="">
                            <a href="#">
                                <h3>{{item.title}}</h3>
                            </a>
                            <ul class="list-unstyled">
                                {% for innerItem in item.child %}
                                    <li>
                                        <a href="{{innerItem.url | relative_url}}">{{innerItem.subtitle}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="question_text" href="#">Want to know more or have a<br>
                    Question?
                </a>
            </div>
        </div>
    </div>
</section>