<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wisem Directory</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.png" />
        
        <link href="css/master.css" rel="stylesheet">
       
		<!-- SWITCHER -->
		<link rel="stylesheet" id="switcher-css" type="text/css" href="assets/switcher/css/switcher.css" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color1.css" title="color1" media="all" data-default-color="true" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color2.css" title="color2" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color3.css" title="color3" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color4.css" title="color4" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color5.css" title="color5" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color6.css" title="color6" media="all" />
        
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->

		<!-- Start Switcher -->
		<div class="switcher-wrapper">	
			<div class="demo_changer">
				<div class="demo-icon bg-color1"><i class="fa fa-cog fa-spin fa-2x"></i></div>
				<div class="form_holder">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="predefined_styles">
								<div class="skin-theme-switcher">
									<h4>Color</h4>
									<a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#0072bc;"></a>
									<a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#a91605;"> </a>
									<a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#00bff3;"> </a>							
									<a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#ff9600;"> </a>
									<a href="#" data-switchcolor="color5" class="styleswitch" style="background-color:#2dcc70;"> </a>
									<a href="#" data-switchcolor="color6" class="styleswitch" style="background-color:#6054c2;"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Switcher -->
		<header>
			<div class="container-fluid">
				<div class="row h-first-row">
					<div class="m1170">
						<div class="col-xs-5 text-uppercase">Welcome to the Wisem listings</div>
						<div class="col-xs-7 text-right">
							<div class="row">
								<div class="h-curr col-sm-5">
									<a href="#" class="h-curr-active">$ USD</a>
									<a href="#">&#8364; EUR</a>
									<a href="#">&#163; GBP</a>
								</div>
								<div class="h-login col-sm-7">
									<a href="#" class="h-a-login">LOGIN</a>
									<a href="#" class="h-a-register">REGISTER</a>
								</div>			
							</div>			
						</div>
					</div>
				</div>
				<div id="header" class="row h-second-row">
					<div class="m1170">
						<div class="col-sm-4 col-xs-10 h-logo">
							<div class="logotype">
								<a href="01-home-1.html"><div></div><img src="img/logo.png" alt="wd"></a>
							</div><div class="clearfix"></div>
						</div>
						<div class="col-sm-8 col-xs-2 h-menu padding0">
							<nav>
								<i class="fa fa-bars mobileMenuNav mobileMenuSwitcher onlyMobileMenu"></i>
								<div class="nav-container container-fluid padding0">
									<i class="fa fa-times close-menu mobileMenuSwitcher onlyMobileMenu"></i>
									<ul class="nav navbar-nav navbar-main navbar-right">
										<li class="dropdown">
											<a href="01-home-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="01-home-1.html">Home 1</a></li>
												<li><a href="02-home-2.html">Home 2</a></li>
											</ul>
										</li>
										<li><a href="11-about.html">about us</a></li>
										<li class="dropdown">
											<a href="03-category-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="03-category-1.html">Category 1</a></li>
												<li><a href="04-category-2.html">Category 2</a></li>
												<li><a href="05-category-3.html">Category 3</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="08-blog-details.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGES <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="08-blog-details.html">Post</a></li>
												<li><a href="09-pricing.html">Pricing</a></li>												
												<li role="separator" class="divider"></li>
												<li><a href="12-not-found.html">Not found</a></li>
												<li><a href="13-typography.html">Typography</a></li>
											</ul>
										</li>
										<li><a href="07-blog-1.html">Blog</a></li>
										<li><a href="10-contact.html">CONTACT</a></li>
										<li class="h-submit-listing"><a href="06-listing-details.html"><span class="h-plus">+</span> SUBMIT LISTING</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>

				<div class="row header-slider">
					<div class="main-slider">
						<div class="slider-pro full-width-slider" id="main-slider" data-width="100%" data-height="650" data-fade="true" data-buttons="false" data-wait-for-layers="true" data-thumbnail-pointer="false" data-touch-swipe="false" data-autoplay="true" data-auto-scale-layers="true" data-visible-size="100%" data-force-size="fullWidth" data-autoplay-delay="5000" >
							<div class="sp-slides">
								<!-- Slide 1 -->
								<div class="sp-slide">
									<img class="sp-image" src="media/backgrounds/home2-bg.jpg"  data-src="media/backgrounds/home2-bg.jpg" data-retina="media/backgrounds/home2-bg.jpg" alt="Image"/>
									<div class="sp-desc-container">
										<div class="sp-layer font25 uppercase semibold text-center" data-vertical="40%" data-show-transition="up" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">wisem Business Directory</div>
										<div class="sp-layer font42 semibold uppercase orange text-center" data-vertical="45%" data-show-transition="up" data-hide-transition="up" data-show-delay="600" data-hide-delay="400">trusted by millions</div>
										<div class="sp-layer font28 light text-center" data-vertical="55%" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="600">We help new customers & search engines - <br />to find your business online</div>
									</div>
								</div>

								<!-- Slide 2 -->
								<div class="sp-slide">
									<img class="sp-image" src="media/backgrounds/30.jpg"  data-src="media/backgrounds/30.jpg" data-retina="media/backgrounds/30.jpg" alt="Image"/>
									<div class="sp-desc-container">
										<div class="sp-layer font25 uppercase semibold text-center" data-vertical="40%" data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="200">wisem Business Directory</div>
										<div class="sp-layer font42 semibold uppercase orange text-center" data-vertical="45%" data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="400">trusted by millions</div>
										<div class="sp-layer font28 light text-center" data-vertical="55%" data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="600">We help new customers & search engines - <br />to find your business online</div>
									</div>
								</div>

								<!-- Slide 3 -->
								<div class="sp-slide">
									<img class="sp-image" src="media/backgrounds/home2-bg.jpg"  data-src="media/backgrounds/home2-bg.jpg" data-retina="media/backgrounds/home2-bg.jpg" alt="Image"/>
									<div class="sp-desc-container">
										<div class="sp-layer font25 uppercase semibold text-center" data-vertical="40%" data-show-transition="right" data-hide-transition="right" data-show-delay="400" data-hide-delay="200">wisem Business Directory</div>
										<div class="sp-layer font42 semibold uppercase orange text-center" data-vertical="45%" data-show-transition="right" data-hide-transition="right" data-show-delay="600" data-hide-delay="400">trusted by millions</div>
										<div class="sp-layer font28 light text-center" data-vertical="55%" data-show-transition="right" data-hide-transition="right" data-show-delay="800" data-hide-delay="600">We help new customers & search engines - <br />to find your business online</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row p-relative home-1-reserv-row2" data-wow-delay="0.7s" data-wow-duration="1.5s">
					<div class="m1170 pl-15 pr-15 p-relative home-1-reserv">	
						<div class="reserv-header font25 uppercase text-center colorfff"><i class="font22 fa fa-search p-right20"></i> search any business</div>	
						<div class="make-reservation b-radius3 home-reservation2">
							<div class="reservation-dropdowns top40 p-top30">
								<div class="col-sm-3 p-left0 p-right0" style="height: 48px;">
									<div class="open-close-filter f-left"><i class="fa fa-navicon font20 colorfff">&nbsp;</i></div>
									<div class="btn-group f-right" style="width: calc(100% - 30px);">
										<input class="dropdown-btn-list dropdown-btn1 dropdown-btn1-1 btn btn-lg dropdown-toggle" type="text" placeholder="keywords">
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<div class="custom-select select-type4 location">
											<select class="chosen-select">
												<option value="1">- Choose Location -</option>
												<option value="2">USA</option>
												<option value="3">Ukraine</option>
												<option value="4">France</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<div class="custom-select select-type4 category">
											<select class="chosen-select">
												<option value="1">- Choose Category -</option>
												<option value="2">Some Category</option>
												<option value="3">Category Listings</option>
												<option value="4">Other Category</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<a href="#"><div class="find-btn">Search</div></a>
									</div>
								</div><div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="additional-filter display-none">
							<div class="row">
								<div class="col-sm-6">
									<div class="filter-slider">
										<div class="col-md-4 wordwrap">
											<span class="font13 uppercase color333"><b>Distance (Km)</b></span>
										</div>
										<div class="col-md-8 padding0">
											<table class="width100">
												<tr>
													<td class="width100 p-right20">
														<input id="ex6" class="list-slider-1 count-slider" type="text" data-value-container="#ex6SliderVal" data-slider-min="1" data-slider-max="100" data-slider-step="5" data-slider-value="3">
													</td>
													<td class="wordwrap"><span id="ex6CurrentSliderValLabel"><span id="ex6SliderVal" class="font13 semibold 333">3 </span><span class="font13 semibold color333"> Km</span></span></td>
												</tr>
											</table>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-sm-6">
									<div class="filter-slider">
										<div class="col-md-4 wordwrap">
											<span class="font13 uppercase color333"><b>Days published</b></span>
										</div>
										<div class="col-md-8 padding0">
											<table class="width100">
												<tr>
													<td class="width100 p-right20">
														<input id="ex7" class="list-slider-1 count-slider" type="text" data-value-container="#ex7SliderVal" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="3">
													</td>
													<td class="wordwrap"><span id="ex7CurrentSliderValLabel"><span id="ex7SliderVal" class="font13 semibold color333">3</span></span>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-sm-12 font12 semibold color777 top40 add-filter-chkbx l-h-22">
								<div class="f-left font13 uppercase color333 p-right20"><b>Filter by tag</b></div>
								<div class="f-left">
									<div class="styled-checkbox f-left"><label><input name="small-business" class="checkbox-inline checkbox-style5" type="checkbox" value="" checked=""><span></span><span class="checkbox-txt">Small Business</span></label></div>
									<div class="styled-checkbox f-left"><label><input name="lower-price" class="checkbox-inline checkbox-style5" type="checkbox" value="" checked=""><span></span><span class="checkbox-txt">Lower Price</span></label></div>
								</div><div class="f-left">
									<div class="styled-checkbox f-left"><label><input name="domectic-only" class="checkbox-inline checkbox-style5" type="checkbox" value="" checked=""><span></span><span class="checkbox-txt">Domectic Only</span></label></div>
									<div class="styled-checkbox f-left"><label><input name="international-only" class="checkbox-inline checkbox-style5" type="checkbox" value="" checked=""><span></span><span class="checkbox-txt">International Only</span></label></div>
									<div class="styled-checkbox f-left"><label><input name="all-types" class="checkbox-inline checkbox-style5" type="checkbox" value="" checked=""><span></span><span class="checkbox-txt">All Types</span></label></div>
								</div>
							</div>
							<div class="clearfix"></div>
							<a href="#"><div class="update-listings-btn b-radius3"><b>update listings</b></div></a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
			<div class="clearfix"></div>
		</header>	
		<section>	
			<div class="container-fluid home2">


				<div class="row br-by-ct">
					<div class="m1170 height100">
						<div class="col-sm-12 text-center top-40">
							<div>
								<img src="media/pages/or.png" alt="wd">
							</div>
							<div class="about-title extrabold uppercase color333 width100 top40">
								<span class="bgfff">BROWSE BY CATEGORies</span>
							</div>
						</div><div class="clearfix"></div>
						<div class="width100 listing-details-left">
							<div class="left-1-menu nav-right-menu p-top40">				
								<a href="03-category-1.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-home">&nbsp;</i>Accommodation</li></ul></div></a>
								<a href="03-category-1.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-youtube-play">&nbsp;</i>ARTS & ENTERTAINMENT</li></ul></div></a>
								<a href="03-category-1.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-car">&nbsp;</i>Automotive</li></ul></div></a>							
								<a href="03-category-1.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-desktop">&nbsp;</i>Computers</li></ul></div></a>							
								<a href="04-category-2.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-graduation-cap">&nbsp;</i>education & learning</li></ul></div></a>						
								<a href="04-category-2.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-money">&nbsp;</i>Financial Servives</li></ul></div></a>
								<a href="04-category-2.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-user-md">&nbsp;</i>Fitness & Health</li></ul></div></a>
								<a href="04-category-2.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-coffee">&nbsp;</i>Hotels & Travel</li></ul></div></a>							
								<a href="05-category-3.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-book">&nbsp;</i>References</li></ul></div></a>
								<a href="05-category-3.html"><div class="col-sm-3 f-left wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-globe">&nbsp;</i>Regional</li></ul></div></a>
								<a href="05-category-3.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-flag">&nbsp;</i>Sports & Adventure</li></ul></div></a>							
								<a href="05-category-3.html"><div class="col-sm-3 f-left wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><ul class="width100 p-left0 list-style top-menu inline-block top-20"><li class="menu-link high-item"><i class="fa fa-flask">&nbsp;</i>Technology</li></ul></div></a>
								<div class="clearfix"></div>	
							</div>				
							<div class="text-center">
								<a href="#" class="inline-block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60">load more</div></a>
							</div>
						</div>
					</div>
				</div>

				<div class="row about-nav top60" data-wow-delay="0.7s" data-wow-duration="1.5s">

					<div class="row navigation-row margin0">
						<div class="col-sm-8 about-nav-left">
							<ul class="list-styles colorfff f-right right20">
								<li><i class="fa icon-ok-circle">&nbsp;</i> Largest Database</li>
								<li><i class="fa icon-ok-circle">&nbsp;</i> Thousands of Reviews</li>
								<li><i class="fa icon-ok-circle">&nbsp;</i> Helping Millions Daily</li>
								<li><i class="fa icon-ok-circle">&nbsp;</i> Always Free</li>
							</ul><div class="clearfix"></div>
						</div>
						<div class="col-sm-4 about-nav-right top-10">
							<div class="nav-right-cont uppercase colorfff">
								<a href="09-pricing.html"><h6><b><i class="font13 fa fa-angle-double-right"></i> create your business profile <i class="font13 fa fa-angle-double-left"></i></b></h6></a>
							</div>
						</div>
					</div>

				</div>	

				<div class="row featured-collection">
					<div class="m1170 height100">
						<div class="col-sm-12">
							<div class="about-title extrabold uppercase color333 width100">
								<span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">featured collections</span>
							</div>
						</div>
						<div class="font14 color777 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Find out & explore new businesses near your area and see what's happening !!!</div>
						<div class="featured-coll-body top40 colorfff uppercase">
							<div class="col-sm-4 top20 p-relative wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<img src="media/360x180/fc-l.jpg" alt="wd">
								<div class="fc-absolute">
									<div class="font20"><b>technology</b></div>
									<div class="font12 orange">1500 listings</div>
								</div>
							</div>					
							<div class="col-sm-4 top20">
								<div class="col-sm-12 fc-c-top p-left0 p-right0 p-relative wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<img src="media/360x180/fc-c1.jpg" alt="wd">
									<div class="fc-absolute-c">
										<div class="font20"><b>Food & drinks</b></div>
										<div class="font12 orange">4500 listings</div>
									</div>
								</div>
								<div class="col-sm-12 fc-c-bottom p-left0 p-right0 p-relative wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<img src="media/360x180/fc-c2.jpg" alt="wd">
									<div class="fc-absolute-c">
										<div class="font20"><b>music</b></div>
										<div class="font12 orange">2600 listings</div>
									</div>
								</div>
							</div>					
							<div class="col-sm-4 top20 p-relative wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<img src="media/360x180/fc-r.jpg" alt="wd">
								<div class="fc-absolute">
									<div class="font20"><b>reat estate</b></div>
									<div class="font12 orange">3500 listings</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row row-explore-nerby blue-title bgbl p-bottom60">
					<div class="m1170">
						<div class="col-sm-12">
							<div class="about-title extrabold uppercase colorfff top60 btm15">
								<span class="bgbl wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">explore nearby</span>
							</div>
							<div class="font14 colorfff text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Find out & explore new businesses near your area and see what's happening !!!</div>

							<div id="myCarousel2" class="carousel slide blog-reviews" data-interval="3000">
								<ol class="carousel-indicators blog-reviews-pagination">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								</ol>   
								<div class="carousel-inner">
									<div class="active item">
										<div class="members-acc">
											<div class="col-sm-3 top60 f-left " data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo1">
														<img src="media/262x260/relat-list-1.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">beauty & spa</span><br />
														<b class="font14 color333 uppercase">Amicus Hair and Beauty</b><br />
														<span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(202) 364-6772</b></div>
													</div>
												</div>
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo2">
														<img src="media/262x260/relat-list-2.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover2">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">automotive</span><br />
														<b class="font14 color333 uppercase">Ridenow sports</b><br />
														<span class="font12 color777">17202 N Cave Creek Rd, Phoenix, AZ 85032</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(602) 910-6249</b></div>
													</div>

												</div>

											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo3">
														<img src="media/262x260/relat-list-3.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover3">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">hotels</span><br />
														<b class="font14 color333 uppercase">Novotel Forest Resort</b><br />
														<span class="font12 color777">60800 Pines Blvd, Pembroke Pines, FL 33026</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(954) 435-1062</b></div>
													</div>							
												</div>					
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo4">
														<img src="media/262x260/relat-list-4.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover4">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">entertainment</span><br />
														<b class="font14 color333 uppercase">Blue Room Cinebar</b><br />
														<span class="font12 color777">2306 Almaden Road, San Jose, CA 95125</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(408) 265-7373</b></div>
													</div>							
												</div>						
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="item">
										<div class="members-acc">
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo1">
														<img src="media/262x260/relat-list-1.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">beauty & spa</span><br />
														<b class="font14 color333 uppercase">Amicus Hair and Beauty</b><br />
														<span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(202) 364-6772</b></div>
													</div>
												</div>
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo2">
														<img src="media/262x260/relat-list-2.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover2">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">automotive</span><br />
														<b class="font14 color333 uppercase">Ridenow sports</b><br />
														<span class="font12 color777">17202 N Cave Creek Rd, Phoenix, AZ 85032</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(602) 910-6249</b></div>
													</div>

												</div>

											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo3">
														<img src="media/262x260/relat-list-3.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover3">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">hotels</span><br />
														<b class="font14 color333 uppercase">Novotel Forest Resort</b><br />
														<span class="font12 color777">60800 Pines Blvd, Pembroke Pines, FL 33026</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(954) 435-1062</b></div>
													</div>							
												</div>					
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo4">
														<img src="media/262x260/relat-list-4.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover4">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">entertainment</span><br />
														<b class="font14 color333 uppercase">Blue Room Cinebar</b><br />
														<span class="font12 color777">2306 Almaden Road, San Jose, CA 95125</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(408) 265-7373</b></div>
													</div>							
												</div>						
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="item">
										<div class="members-acc">
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo1">
														<img src="media/262x260/relat-list-1.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">beauty & spa</span><br />
														<b class="font14 color333 uppercase">Amicus Hair and Beauty</b><br />
														<span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(202) 364-6772</b></div>
													</div>
												</div>
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo2">
														<img src="media/262x260/relat-list-2.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover2">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">automotive</span><br />
														<b class="font14 color333 uppercase">Ridenow sports</b><br />
														<span class="font12 color777">17202 N Cave Creek Rd, Phoenix, AZ 85032</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(602) 910-6249</b></div>
													</div>

												</div>

											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo3">
														<img src="media/262x260/relat-list-3.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover3">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">hotels</span><br />
														<b class="font14 color333 uppercase">Novotel Forest Resort</b><br />
														<span class="font12 color777">60800 Pines Blvd, Pembroke Pines, FL 33026</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(954) 435-1062</b></div>
													</div>							
												</div>					
											</div>
											<div class="col-sm-3 top60 f-left" data-wow-delay="0.7s" data-wow-duration="1.5s">
												<div class="member-prof">
													<div class="memb-photo memb-photo4">
														<img src="media/262x260/relat-list-4.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover4">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">entertainment</span><br />
														<b class="font14 color333 uppercase">Blue Room Cinebar</b><br />
														<span class="font12 color777">2306 Almaden Road, San Jose, CA 95125</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(408) 265-7373</b></div>
													</div>							
												</div>						
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	

				<div class="row row-we-help">
					<div class="m1170 valign-table height100">
						<div class="valign-table-cell height100 text-center">
							<div class="font28 orange uppercase wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><b>we help your business grow</b></div>
							<div class="font14 colorfff text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Discover how we do it - From promoting your business to get you potential clients !!!</div>
						</div>
					</div>
				</div>

				<div class="row row-we-help-under">
					<div class="m1069 valign-table height100 top-70">
						<div class="valign-table-cell height100 text-center">
							<div class="col-sm-4 top30 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<img src="media/160x160/we-help-1.png" alt="wd">
								<div class="font15 extrabold uppercase color333 help-title">create free listings</div>
								<div class="font13 color777 top10 help-desc">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laboris
								</div>
							</div>
							<div class="col-sm-4 top30 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<img src="media/160x160/we-help-2.png" alt="wd">
								<div class="font15 extrabold uppercase color333 help-title">publish Your Ad</div>
								<div class="font13 color777 top10 help-desc">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laboris
								</div>
							</div>
							<div class="col-sm-4 top30 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<img src="media/160x160/we-help-3.png" alt="wd">
								<div class="font15 extrabold uppercase color333 help-title">advertise wisely</div>
								<div class="font13 color777 top10 help-desc">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laboris
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="09-pricing.html" class="inline-block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60">get started</div></a>
					</div>
				</div>

				<div class="row row-pricing-details top60 bgf3">
					<div class="m1170">
						<div class="col-sm-12">
							<div class="about-title extrabold uppercase top60">
								<span class="bgf3 font22 color555 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">pricing details</span>
							</div>
							<div class="color777 top20 font14 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
								Find out & explore new businesses near your area and see what's happening !!!
							</div>

							<div class="pricing-main-block top20">
								<div class="left-block color777 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="title">BASIC</div>
									<div class="price-tbl b-radius5">
										$19.50
									</div>
									<div class="per-month uppercase semibold">per month</div>
									<div class="lh36 font13 top40 text-center">
										Limited Deals & Promotions<br />
										Only Images Support<br />
										Featured Listings<br />
										24 / 7 Live Support<br />
										Customer Reviews
									</div>
									<a href="09-pricing.html"><div class="button1-1 b-radius3 button-orange top20 uppercase margin0auto"><b>sign up</b></div></a>
								</div>

								<div class="main-block wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="title">PREMIUM</div>
									<div class="price-tbl b-radius5">
										$25.50
									</div>
									<div class="per-month uppercase semibold">per month</div>
									<div class="lh36 font13 top40 text-center">
										Unlimited Deals & Promotions<br />
										Images & Videos Support<br />
										Featured Listings<br />
										24 / 7 Live Support<br />
										Display All Features<br />
										Customer Reviews
									</div>
									<a href="09-pricing.html"><div class="button1-1 b-radius3 button-orange top20 uppercase margin0auto"><b>sign up</b></div></a>
								</div>

								<div class="right-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="title">ULTIMATE</div>
									<div class="price-tbl b-radius5">
										$39.50
									</div>
									<div class="per-month uppercase semibold">per month</div>
									<div class="lh36 font13 top40 text-center">
										Unlimited Deals & Promotions<br />
										Images & Videos Support<br />
										Featured Listings<br />
										24 / 7 Live Support<br />
										Unlimited Customer Reviews
									</div>
									<a href="09-pricing.html"><div class="button1-1 b-radius3 button-orange top20 uppercase margin0auto"><b>sign up</b></div></a>
								</div>
								<div class="clearfix"></div>
							</div>

						</div>




					</div>
				</div>

				<div class="row featured-art top40 bgfff">
					<div class="m1170">
						<div class="col-sm-12">
							<div class="about-title extrabold uppercase top60">
								<span class="bgfff font22 color555 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">featured-article</span>
							</div>
						</div>
						<div class="col-sm-4 home1-featured-article top60">
							<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<div class="memb-photo memb-photo1">
									<img src="media/360x260/h-featured-article1.jpg" alt="wd">
									<div class="memb-photo-hover memb-photo-hover1">
										<div class="memb-photo-links">
											<a href="#">
												<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
											</a>
											<a href="#">
												<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
											</a><br />
										</div>
									</div>
								</div>
								<div class="font14 semibold uppercase color333 top20">
									nisi ut aliquip ex ea commodo consequat
									Duis aute irure dolor in 
								</div>
							</div>
						</div>
						<div class="col-sm-4 home1-featured-article top60">
							<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<div class="memb-photo memb-photo1">
									<img src="media/360x260/h-featured-article2.jpg" alt="wd">
									<div class="memb-photo-hover memb-photo-hover1">
										<div class="memb-photo-links">
											<a href="#">
												<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
											</a>
											<a href="#">
												<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
											</a><br />
										</div>
									</div>
								</div>
								<div class="font14 semibold uppercase color333 top20">
									nisi ut aliquip ex ea commodo consequat
									Duis aute irure dolor in 
								</div>
							</div>
						</div>
						<div class="col-sm-4 home1-featured-article top60">
							<div class="member-prof wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<div class="memb-photo memb-photo1">
									<img src="media/360x260/h-featured-article3.jpg" alt="wd">
									<div class="memb-photo-hover memb-photo-hover1">
										<div class="memb-photo-links">
											<a href="#">
												<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
											</a>
											<a href="#">
												<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
											</a><br />
										</div>
									</div>
								</div>
								<div class="font14 semibold uppercase color333 top20">
									nisi ut aliquip ex ea commodo consequat
									Duis aute irure dolor in 
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row play-market top80">
					<div class="m1170 valign-table height100 txt-shadow">
						<div class="col-sm-6 colorfff valign-table-cell">
							<div class="font24 semibold uppercase lh-15-em wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">find any business, faster !!!</div>
							<div class="font38 uppercase orange lh-15-em wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><b>get free mobile app</b></div>
							<div class="font18 semibold uppercase top20 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">30 Million Business Listings</div>
							<div class="mx-w420 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed enim veniam quis nostr aud exercition eullamco laboris.
							</div>
							<div class="store-btns wordwrap">
								<a href="#"><div class="app-store f-left b-radius10 top20 right20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><img src="media/buttons/astore-btn.png" alt="wd"></div></a>
								<a href="#"><div class="google-store f-left b-radius10 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><img src="media/buttons/gplay-btn.png" alt="wd"></div></a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-sm-6 dsp-none">
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="row cat-partners">
					<div class="m1170">
						<div class="about-title extrabold uppercase top60">
							<span class="bgfff font22 color555 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">our partners</span>
						</div>

						<div class="partners margin60 f-left">
							<div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="12-not-found.html"><img src="media/200x150/partner1.png" alt="wd"></a></div>
							<div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="12-not-found.html"><img src="media/200x150/partner2.png" alt="wd"></a></div>
							<div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="12-not-found.html"><img src="media/200x150/partner3.png" alt="wd"></a></div>
							<div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="12-not-found.html"><img src="media/200x150/partner4.png" alt="wd"></a></div>
							<div class="width20 wow zoomIn" data-wow-delay="0.7s" data-wow-duration="1.5s"><a href="12-not-found.html"><img src="media/200x150/partner5.png" alt="wd"></a></div>
						</div>
					</div>
				</div>


			</div>
		</section>

		<footer>
			<div class="container-fluid">
				<div class="row f-first-row newsletter" data-wow-delay="0.7s" data-wow-duration="1.5s" style="margin-top: 60px!important;">
					<div class="col-sm-6 f-newsletter-l">
						<h3><b class="colorfff uppercase">Newsletter signup</b></h3>
						Get registered for monthly newsletter to updates
					</div>
					<div class="col-sm-6 newsletter-bg padding0">
						<div class="newsletter-input">
							<input class="newsletter-inpup-field width100">
							<input type="submit" value="SIGNUP" class="newsletter-signup f-right">
						</div>
					</div>
				</div>
				<div class="row f-second-row footer">
					<div class="m1170">
						<div class="col-sm-4 f-1td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff footer-title"><b class="footer-title">About wisem</b></h5>
							<div class="footer-logo top30"><a class="footerLogo" href="01-home-1.html"><div class="o-circle"></div><div class="no-wrap"><h5 class="f-wisem color777"><b class="coloraaa">WISEM</b> DIRECTORY</h5></div></a></div>
							<div class="footer-td1-txt coloraaa top30 p-right20">
								Integer ac lorem sit amet est rhoncus dapi bus don cad
								pede acus morbi elit nunc molestie at ultrices eu eleifen
								lorem ut dictum erat masa. Nullam tempus erat id tort
								In hac habitasse platea dictumst.
							</div>
							<div class="button1-1 b-radius3 right30 button-blue top20">Read More</div>
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-2td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff"><b class="footer-title">main categories</b></h5>
							<ul class="list-styles left-40 top30 f-left coloraaa footer-list p-right20">
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Automotive</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Humanities</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Computers</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Education</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Health / Fitness</a></li>
							</ul>
							<ul class="list-styles left-40 top30 f-left">
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Internet Services</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Marketing</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Technology</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-3td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff"><b class="footer-title">GET IN TOUCH</b></h5>
							<div class="top30 p-right20 coloraaa">
								<b class="uppercase colorfff">WISEM DIRECTORY INC.</b>
								<br />
								Suite # 38, Fireworks Hill, Victoria, WA 12340
								<br />
								<a href="#" class="uppercase">see on map</a>
								<br /><br />
								<table>
									<tr><td>Tele</td><td class="p-left10">(123)  456  7890</td></tr>
									<tr><td>Toll Free</td><td class="p-left10">(1)  002  123  9876  5</td></tr>
									<tr><td>E-mail</td><td class="p-left10">support  (at) wisemdirectory.com</td></tr>
									<tr><td>Fax</td><td class="p-left10">(123)  456  7890</td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row f-third-row footer2">
					<div class="m1170">
						<div class="footer-relative">
							<div class="col-sm-6 left-footer2 " data-wow-delay="0.7s" data-wow-duration="1.5s">
								&copy; 2016 Wisem Directory - All Rights Reserved. <a href="#">Privacy Policy </a>
							</div>
							<div class="col-sm-6 right-footer2" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-facebook">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-google-plus">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-twitter">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-pinterest">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-vimeo">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-dribbble">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-linkedin">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-rss">&nbsp;</i></div>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
		</footer>

		<!--Main-->   
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		
		<!--Switcher-->
		<script src="assets/switcher/js/switcher.js"></script>
		<!--Chosen-->
		<script src="assets/chosen/chosen.jquery.min.js"></script>
		<!--Bootstrap Slider-->
		<script src="js/bootstrap-slider.js"></script>
		<!--Bootstrap datepicker-->
		<script src="js/bootstrap-datepicker.js"></script>
		<!--Bootstrap datepicker-->
		<script src="assets/slider-pro/js/jquery.sliderPro.min.js"></script>

		<!--Theme-->
		<script src="js/jquery.smooth-scroll.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/theme.js"></script>
	</body>
</html>