<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wisem Directory</title>
		<link rel="icon" type="image/x-icon" href="img/favicon.png" />

		<link href="css/master.css" rel="stylesheet">

		<!-- SWITCHER -->
		<link rel="stylesheet" id="switcher-css" type="text/css" href="assets/switcher/css/switcher.css" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color1.css" title="color1" media="all" data-default-color="true" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color2.css" title="color2" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color3.css" title="color3" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color4.css" title="color4" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color5.css" title="color5" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/color6.css" title="color6" media="all" />

		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->

		<!-- Start Switcher -->
		<div class="switcher-wrapper">	
			<div class="demo_changer">
				<div class="demo-icon bg-color1"><i class="fa fa-cog fa-spin fa-2x"></i></div>
				<div class="form_holder">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="predefined_styles">
								<div class="skin-theme-switcher">
									<h4>Color</h4>
									<a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#0072bc;"></a>
									<a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#a91605;"> </a>
									<a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#00bff3;"> </a>							
									<a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#ff9600;"> </a>
									<a href="#" data-switchcolor="color5" class="styleswitch" style="background-color:#2dcc70;"> </a>
									<a href="#" data-switchcolor="color6" class="styleswitch" style="background-color:#6054c2;"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Switcher -->
		<header>
			<div class="container-fluid">
				<div class="row h-first-row">
					<div class="m1170">
						<div class="col-xs-5 text-uppercase">Welcome to the Wisem listings</div>
						<div class="col-xs-7 text-right">
							<div class="row">
								<div class="h-curr col-sm-5">
									<a href="#" class="h-curr-active">$ USD</a>
									<a href="#">&#8364; EUR</a>
									<a href="#">&#163; GBP</a>
								</div>
								<div class="h-login col-sm-7">
									<a href="#" class="h-a-login">LOGIN</a>
									<a href="#" class="h-a-register">REGISTER</a>
								</div>			
							</div>			
						</div>
					</div>
				</div>
				<div id="header" class="row h-second-row">
					<div class="m1170">
						<div class="col-sm-4 col-xs-10 h-logo">
							<div class="logotype">
								<a href="01-home-1.html"><div></div><img src="img/logo.png" alt="wd"></a>
							</div><div class="clearfix"></div>
						</div>
						<div class="col-sm-8 col-xs-2 h-menu padding0">
							<nav>
								<i class="fa fa-bars mobileMenuNav mobileMenuSwitcher onlyMobileMenu"></i>
								<div class="nav-container container-fluid padding0">
									<i class="fa fa-times close-menu mobileMenuSwitcher onlyMobileMenu"></i>
									<ul class="nav navbar-nav navbar-main navbar-right">
										<li class="dropdown">
											<a href="01-home-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="01-home-1.html">Home 1</a></li>
												<li><a href="02-home-2.html">Home 2</a></li>
											</ul>
										</li>
										<li><a href="11-about.html">about us</a></li>
										<li class="dropdown">
											<a href="03-category-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="03-category-1.html">Category 1</a></li>
												<li><a href="04-category-2.html">Category 2</a></li>
												<li><a href="05-category-3.html">Category 3</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="08-blog-details.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGES <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="08-blog-details.html">Post</a></li>
												<li><a href="09-pricing.html">Pricing</a></li>												
												<li role="separator" class="divider"></li>
												<li><a href="12-not-found.html">Not found</a></li>
												<li><a href="13-typography.html">Typography</a></li>
											</ul>
										</li>
										<li><a href="07-blog-1.html">Blog</a></li>
										<li><a href="10-contact.html">CONTACT</a></li>
										<li class="h-submit-listing"><a href="06-listing-details.html"><span class="h-plus">+</span> SUBMIT LISTING</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div class="row h-third-row">
					<div class="m1170 p-relative h250">
						<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							Typography
							<div class="h-current-page">
								<a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Typography
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="container-fluid">
				<div class="row s-row-1">
					<div class="m1170">
						<div class="col-sm-4 s-black-h">
							<span class="universal-title">Black Heading</span><br /><br />
							<h1>Heading One</h1>
							<h2>Heading Two</h2>
							<h3>Heading Three</h3>
							<h4>Heading Four</h4>
							<h5>Heading Five</h5>
							<h6>Heading Six</h6>
						</div>

						<div class="col-sm-4 s-caps-h">
							<span class="universal-title">Caps Heading</span><br /><br />
							<h1>Heading One</h1>
							<h2>Heading Two</h2>
							<h3>Heading Three</h3>
							<h4>Heading Four</h4>
							<h5>Heading Five</h5>
							<h6>Heading Six</h6>
						</div>

						<div class="col-sm-4 s-light-h">
							<span class="universal-title">Light Heading</span><br /><br />
							<h1>Heading One</h1>
							<h2>Heading Two</h2>
							<h3>Heading Three</h3>
							<h4>Heading Four</h4>
							<h5>Heading Five</h5>
							<h6>Heading Six</h6>
						</div>
					</div>
				</div>

				<div class="row s-row-line">
				</div>

				<div class="row s-row-2">
					<div class="m1170 mainline-pad">
						<article class="s-black-h s-underline-h left20 right20">
							<h2><span class="first-word">Heading</span> with UNDERLINE</h2>
							<div class="top40">
								Lorem ipsum dolor sit amet feugiat delicata liberavisse id cum no quo maiorum intellegebat liber regione eu sit. Mea cu case ludus integre vide viderer eleifend ex mea. Sed his atmu soluta
								regione diceret cum et atqui placerat petentium. Per amet nonumy periculis ei. Deleniti apeirian temporibus eam ad mea ipsum sadipscing, sed ex assum omnium conten dac tiones. Nobis
								suavitate moderatius has eu epicuri ancillae pericula ei nam ferri ipsum quaeque est ea. Ex omnis menandri conceptam his.
							</div>
						</article>

						<article class="s-highlights-h left20 right20"><h2 class="hidden">WD</h2>
							<span class="universal-title">Highlights</span>
							<div class="top40">
								Lorem ipsum dolor sit amet  <span class="txt-bg-black">Feugiat delicata liberavisse id cum</span>    no quo maiorum intellegebat liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at volutaus
								regione diceret cum et atqui placerat petentium. Per amet nonumy periculis eid.    <span class="txt-bg-blue">Deleniti apeirian temporibus eam cu</span>    ad mea ipsum sadipscing sed ex assum omnium conten tionesona
								Nobis suavitate moderatius has eu epicuri ancillae pericula ei nam ferri ipsum quaeque est ea. Ex omnis menandri conceptam his.    <span class="txt-bg-orange">Ferri reque integre mea ut, eu eos vide errem noluisse</span>
								Putent laoreet et ius. Vel utroque dissentias ut nam ad soleat alterum maluisset. Lorem ipsum dolor sit amet.
							</div>
						</article>

						<article class="s-tooltips-h left20 right20"><h2 class="hidden">WD</h2>
							<span class="universal-title">Text Tooltips</span>
							<div class="top40">
								Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. <a href="#" data-toggle="tooltip" title="Your Text Here" class="faet-tooltip1 blue-tooltip">Mauris mauris massa</a> eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum faucibus fermentum al
								ultricies urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris pellentesque dolor eu est gravida quis porta ipsum tincidunt. Curabitur et eges
								tortor eget elementum felis. Proin vitae dolor id lorem dignissim consectetur eu sed arcu. Suspendisse potenti. <a href="#" data-toggle="tooltip" title="Your Text Here" class="faet-tooltip2 orange-tooltip">Vestibulum dolor felis</a> egestas at dui ut iaculis scelerisque ante. Duis scelerisa
								tortor a vehicula eleifend. Nullam rutrum eleifend nibh quis efficitur. Vivamus vel urna at arcu aliquet varius.
							</div>
						</article>

						<article class="s-tooltips-h left20 right20"><h2 class="hidden">WD</h2>
							<span class="universal-title">HTML Styles</span>
							<div class="top40">
								<b class="blue">Lorem ipsum dolor sit amet</b> consectetur adipiscing elit. Ut sed bibendum leo. <b><i class="black333">This is Bold Emphasized text</i></b> eleifend et purus vel feugiat rutrum nulla. <b class="blue"><del>Cras vitae est vel ipsum faucibus</del></b>
								fermentum a ultricies urna. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Mauris pellentesque dolor eu est gravida quis porta ipsum tincidunt exea
								Curabitur et egestas tortor eget elementum felis. <a href="#" class="orange">LINK HERE</a> id lorem dignissim consectetur eu sed arcu. Suspendisse potenti. <span class="underline black333">This is underlined text</span> egestas at dui ut iaculis scelerisque ant 
								Duis scelerisque tortor vehicula eleifend. Nullam rutrum eleifend nibh quis efficitur. Vivamus vel urna at arcu aliquet varius.
							</div>
						</article>

						<div class="col-sm-6">
							<article><h2 class="hidden">WD</h2>
								<span class="universal-title">Big Text Dropcap</span><br /><br />
								<p class="big-text-dropcap dropcap">
									FDolor sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris mas
									sa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel. Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris 
									massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum faucibus ferm
									a ultricies urna. Cum sociis natoque penatibus.
								</p>
							</article>
							<article><h2 class="hidden">WD</h2>
								<span class="universal-title">Round Dropcap</span><br /><br />
								<p class="round-dropcap dropcap">
									FDolor sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris mas
									sa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel. Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris 
									massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum faucibus ferm
									a ultricies urna. Cum sociis natoque penatibus.
								</p>
							</article>
						</div>

						<div class="col-sm-6">
							<article><h2 class="hidden">WD</h2>
								<span class="universal-title">Rectangle Dropcap</span><br /><br />
								<p class="rectangle-dropcap dropcap">
									FDolor sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris mas
									sa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel. Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris 
									massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum faucibus ferm
									a ultricies urna. Cum sociis natoque penatibus.
								</p>
							</article>
							<article><h2 class="hidden">WD</h2>
								<span class="universal-title">Square Dropcap</span><br /><br />
								<p class="square-dropcap dropcap">
									FDolor sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris mas
									sa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel. Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris 
									massa eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum faucibus ferm
									a ultricies urna. Cum sociis natoque penatibus.
								</p>
							</article>
						</div>
						<article class="blockquote-style left20 right20"><h2 class="hidden">WD</h2>
							<span class="universal-title">Blockquote Style</span><br /><br />
							<table class="">
								<tr>
									<td class="vtop"><i class="fa fa-quote-left fa-3x pull-left blockquote1"></i></td>
									<td class="blockquote-style1 orange">
										We help new customers & search engines to find your business
										online !!! Lorem ipsum dolor sit amet adipisicing.<br />
										<span class="seo-wisem color777"><b>CEO Wisem Directory</b></span>
									</td>
								</tr>
							</table>
							<div class="blockquote-style-2">
								<table class="">
									<tr>
										<td class="">
											<i class="fa fa-quote-left fa-3x pull-left blockquote1 blue"></i>
										</td>
										<td class="blockquote-style1 color313131"><b>
												We help new customers & search engines to find your business
												online !!! Lorem ipsum dolor sit amet adipisicing.
											</b>
										</td>
									</tr>
								</table>			
							</div>
						</article>
						<article class="color777 width100">
							<h2 class="hidden">WD</h2>
							<div class="row  left20 right20">
								<span class="universal-title f-left width100">List Styles</span><br /><br />
								<div class="col-sm-4 top40 p-left0">
									<ul class="list-styles start0">
										<li><i class="fa icon-ok-circle">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa icon-ok-circle">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa icon-ok-circle">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa icon-ok-circle">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa icon-ok-circle">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa icon-chevron-right orange">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa icon-chevron-right orange">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa icon-chevron-right orange">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa icon-chevron-right orange">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa icon-chevron-right orange">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa blue"><b>1.</b></i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa blue"><b>2.</b></i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa blue"><b>3.</b></i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa blue"><b>4.</b></i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa blue"><b>5.</b></i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>
									</ul>
								</div>

								<div class="col-sm-4 top40 p-left0">
									<ul class="list-styles start0">
										<li><i class="fa fa-long-arrow-right blue">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa fa-long-arrow-right blue">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa fa-long-arrow-right blue">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa fa-long-arrow-right blue">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa fa-long-arrow-right blue">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa fa-check-square orange">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa fa-check-square orange">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa fa-check-square orange">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa fa-plus-square orange">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa fa-check-square orange">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa blue-circle">1</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa blue-circle">2</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa blue-circle">3</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa blue-circle">4</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa blue-circle">5</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>
									</ul>
								</div>

								<div class="col-sm-4 top40 p-left0">
									<ul class="list-styles start0">
										<li><i class="fa fa-check blue">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa fa-check blue">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa fa-check blue">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa fa-close orange">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa fa-check blue">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa fa-heart-o blue">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa fa-heart-o blue">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa fa-heart-o blue">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa fa-heart-o blue">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa fa-heart-o blue">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>

										<li class="top30"><i class="fa fa-circle orange">&nbsp;</i>Phasellus sit amet velit auctor turpis rhoncus.</li>
										<li><i class="fa fa-circle orange">&nbsp;</i>Phasellus sed dolor sodales, eleifend ipsum eu.</li>
										<li><i class="fa fa-circle orange">&nbsp;</i>Nullam id dolor in ex eleifend tempus.</li>
										<li><i class="fa fa-circle orange">&nbsp;</i>Etiam id lorem vel neque faucibus fermentum.</li>
										<li><i class="fa fa-circle orange">&nbsp;</i>Nunc tincidunt augue in enim sollicitudin feugiat.</li>
									</ul>
								</div>
							</div>
						</article>
						<article class="left20 right20">
							<h2 class="hidden">WD</h2>
							<div class="row margin0">
								<span class="universal-title">Text Columns</span><br /><br />
								<div class="col-sm-12 padding0">
									<h5><b class="black333">1/1 column - 1140 px</b></h5><br />
									Lorem ipsum dolor sit amet feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta egiac
									ne diceret cum et atqui placerat petentium. Per amet nonumy periculis ei. Deleniti apeirian temporibus eam cu, ad mea ipsum sadipscing, sed ex assum omnium contentiones. Nobis suavit
									ate moderatius has eu epicuri ancillae pericula ei nam ferri ipsum quaeque est ea. Lorem ipsum dolor sit amet, feugiat delicata liberavisse idm cum no quo maiorum intellegebat, liber regio
									ne eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione diceret, cum et atqui placerat petentium. Per amet nonumy periculis eil. Deleniti apeirian temporibus
									eam cu ad mea ipsum sadipscing sed ex assum omnium contentiones. Nobis suavitate moderatius has eu epicuri ancillae.

								</div>
							</div>
							<br /><br />
							<div class="row margin0 padding0">
								<div class="col-sm-6 padding0 p-left0">
									<h5><b class="black333">1/2 columns - 555 px</b></h5><br />
									Lorem ipsum dolor sit amet feugiat delicata liberavisse id cum, no quo maiorum tellegebgat
									liber regione eu sit. Mea cu case ludus integre, vide eiderer eleifend ex mea. Hism at soluta
									regione diceret, cum et atqui placerat petentium. Per amet nonumy periculis ei. Delen citial
									apeirian temporibus eam cu, ad mea ipsum sadipscing, sed ex assum om nium ntenti ones.
									Nobis suavitate moderatius has eu, epicuri ancillae pericula ei nam.
								</div>
								<div class="col-sm-6 p-left0">
									<h5><b class="black333">1/2 columns - 555 px</b></h5><br />
									Lorem ipsum dolor sit amet feugiat delicata liberavisse id cum, no quo maiorum tellegebgat
									liber regione eu sit. Mea cu case ludus integre, vide eiderer eleifend ex mea. Hism at soluta
									regione diceret, cum et atqui placerat petentium. Per amet nonumy periculis ei. Delen citial
									apeirian temporibus eam cu, ad mea ipsum sadipscing, sed ex assum om nium ntenti ones.
									Nobis suavitate moderatius has eu, epicuri ancillae pericula ei nam.
								</div>
							</div>
							<br /><br />
							<div class="row margin0 padding0 left-15">
								<div class="col-sm-3">
									<h5><b class="black333">1/4 columns - 263 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicat
									liberavisse id cuma no quo maiorum intelle
									gebat, liber regione elu sit. Mea cucase dus
									integrel sedz viderer eleifend exmea. His at
									soluta regione diceret
								</div>
								<div class="col-sm-3">
									<h5><b class="black333">1/4 columns - 263 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicat
									liberavisse id cuma no quo maiorum intelle
									gebat, liber regione elu sit. Mea cucase dus
									integrel sedz viderer eleifend exmea. His at
									soluta regione diceret
								</div>
								<div class="col-sm-3">
									<h5><b class="black333">1/4 columns - 263 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicat
									liberavisse id cuma no quo maiorum intelle
									gebat, liber regione elu sit. Mea cucase dus
									integrel sedz viderer eleifend exmea. His at
									soluta regione diceret
								</div>
								<div class="col-sm-3">
									<h5><b class="black333">1/4 columns - 263 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicat
									liberavisse id cuma no quo maiorum intelle
									gebat, liber regione elu sit. Mea cucase dus
									integrel sedz viderer eleifend exmea. His at
									soluta regione diceret
								</div>
							</div>
							<br /><br />
							<div class="row margin0 padding0 left-15">
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.
								</div>
							</div>
							<br /><br />
							<div class="row margin0 padding0 left-15">
								<div class="col-sm-8">
									<h5><b class="black333">2/3 columns - 750 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cuma no quo maiorum intellegebat liber regione eu sit. Mea cuda
									case ludus integre, vide viderer eleifend ex mea. His at soluta regione dicereta cum et atqui placerat petentium. Per amet se
									nonumy periculis ei. Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum no quo maiorum sed intellegebatu liber
									regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione diceret selcum et atqui placerat
									petentium. Peramet nonumy periculis duiw.
								</div>
								<div class="col-sm-4">
									<h5><b class="black333">1/3 columns - 360 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicata liberavisse dm
									cum, no quo maiorum intellegebata udl liber regione eu sit. Mea clu case ludus integre, vide viderer eleifend ex mea cul Hisu at soluta regione diceret, cum et sed anl atqui placerat petentium lorem ipsum dolor sit amet.
								</div>
							</div>

							<br /><br />
							<div class="row margin0 padding0 left-15">
								<div class="col-sm-9">
									<h5><b class="black333">3/4 columns - 848 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre
									vide viderer eleifend ex mea. His at soluta regione diceret. Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cuma no quo maiorum
									intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta region dle diceret. Lorem ipsum dolor
									sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre ipsum videl videreu
									eleifend ex mea. His at soluta regione diceret. Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum.

								</div>
								<div class="col-sm-3">
									<h5><b class="black333">1/4 columns - 262 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicat
									liberavisse id cuma no quo maiorum intelle
									gebat, liber regione elu sit. Mea cucase dus
									integrel sedz viderer eleifend exmea. His at
									soluta regione diceret
								</div>
							</div>

							<br /><br />
							<div class="row margin0 padding0 left-15">
								<div class="col-sm-10">
									<h5><b class="black333">5/6 - 945 px</b></h5><br />
									Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre sa vide videraer
									eleifend ex mea. His at soluta regione diceret. Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu
									sit. Mea cucase ludus integre, vide viderer eleifend ex mea. His at soluta regione diceret. Lorem ipsum dolor sit amet, feugiat delicata liberavisse ild cum nzo
									quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at solutua regione diceret. Lorem ipsum dolor sit
									amet feugiat delicata liberavisse id cum no quo maiorum intellegebat

								</div>
								<div class="col-sm-2">
									<h5><b class="black333">1/6 - 165 px</b></h5><br />
									Lorem ipsum dolor sit ame
									feugiat delicata liberavis su
									idua cum no quo maiorum
									intellegebat atliber regione
									eiusmod tempor.

								</div>
							</div>
						</article>
					</div>
				</div>

				<div class="row s-row-line">
				</div>

				<div class="row s-row-3">
					<div class="m1170">
						<article class="s-buttons-h left20 right20">
							<h2 class="hidden">WD</h2>
							<div>
								<span class="universal-title">Buttons</span><br /><br />
								<div class="border border1 b-radius3 borderccc color333"><b>BORDER 1</b></div>
								<div class="border border2 b-radius3 borderccc color333"><b>BORDER 2</b></div>
								<div class="border border3 b-radius3 borderccc color333"><b>BORDER 3</b></div>
								<div class="border border1 b-radius3 border333 color333"><b>BORDER 1</b></div>
								<div class="border border2 b-radius3 border333 color333"><b>BORDER 2</b></div>
								<div class="border border3 b-radius3 border333 color333"><b>BORDER 3</b></div>
							</div>
						</article>
						<article class="s-buttons-h top-40 left20 right20">
							<h2 class="hidden">WD</h2>
							<a href="#"><div class="button1-1 b-radius3 right30 button-blue top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-2 b-radius3 right30 button-blue top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-3 b-radius3 right30 button-blue top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-4 b-radius3 button-blue top20"><b>BUTTON</b></div></a>
						</article>
						<article class="s-buttons-h top-40 left20 right20">
							<h2 class="hidden">WD</h2>
							<a href="#"><div class="button1-1 b-radius3 right30 button-orange top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-2 b-radius3 right30 button-orange top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-3 b-radius3 right30 button-orange top20"><b>BUTTON</b></div></a>
							<a href="#"><div class="button1-4 b-radius3 button-orange top20"><b>BUTTON</b></div></a>
						</article>
						<article class="s-buttons-h top-40 left20 right20">
							<h2 class="hidden">WD</h2>
							<a href="#"><div class="button2-1 b-radius3 right30 button-black top20"><b><i class="fa fa-desktop"></i> BUTTON</b></div></a>
							<a href="#"><div class="button2-2 b-radius3 right30 button-black top20"><b><i class="fa fa-desktop"></i> BUTTON</b></div></a>
							<a href="#"><div class="button2-3 b-radius3 right30 button-black top20"><b><i class="fa fa-desktop"></i>BUTTON</b></div></a>
							<a href="#"><div class="button2-4 b-radius3 button-black top20"><b><i class="fa fa-desktop"></i>BUTTON</b></div></a>
						</article>
						<article class="s-buttons-h top-40 left20 right20">
							<h2 class="hidden">WD</h2>
							<a href="#"><div class="button2-1 border1 b-radius3 right30 button-white top20"><b><i class="fa fa-desktop"></i> BUTTON</b></div></a>
							<a href="#"><div class="button2-2 border2 b-radius3 right30 button-white top20"><b><i class="fa fa-desktop"></i> BUTTON</b></div></a>
							<a href="#"><div class="button2-3 border2 b-radius3 right30 button-white top20"><b><i class="fa fa-desktop"></i>BUTTON</b></div></a>
							<a href="#"><div class="button2-4 border2 b-radius3 button-white top20"><b><i class="fa fa-desktop"></i>BUTTON</b></div></a>
						</article>
					</div>
				</div>

				<div class="row s-row-line">
				</div>

				<div class="row s-row-4">
					<div class="m1170">
						<article class="s-alert-messages top40 f-left" style="width: 100%;">
							<h2 class="hidden">WD</h2>
							<div>
								<span class="universal-title left20">Alert Messages</span><br /><br />
								<div class="col-sm-6 padding0 padding15 top20">
									<div class="inf-msg normal-message"><span class="icon_volume-high_alt f-left"></span>Normal Messages!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
									<div class="inf-msg warning-message top20"><span class="icon_error-oct_alt f-left"></span>Warning Messages!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
									<div class="inf-msg information-message top20"><span class="icon_question_alt2 f-left"></span>Information Frequently Asked Questions!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
								</div>

								<div class="col-sm-6 padding0 padding15 top20">
									<div class="inf-msg success-message"><span class="icon_check_alt2 f-left"></span>Success Message!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
									<div class="inf-msg useful-message top20"><span class="icon_lightbulb_alt f-left"></span>Useful Information!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
									<div class="inf-msg normal-message-2 top20"><span class="icon_lifesaver f-left"></span>Normal Message!<a href="#"><span class="icon_close_alt2 f-right"></span></a></div>
								</div>
							</div>
						</article>
						<article class="s-big-messages top40 left20 right20"><h2 class="hidden">WD</h2>
							<div class="col-sm-12 f-left top40 padding0">
								<div class="big-message message-white b-radius5">
									<i class="fa fa-bell">&nbsp;</i>
									<h6>Your Message Title Here</h6>
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia burae
								</div>
								<div class="big-message message-red b-radius5 top40">
									<i class="fa fa-check">&nbsp;</i>
									<h6>Your Message Title Here</h6>
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia burae
								</div>
								<div class="big-message message-green b-radius5 top40">
									<i class="fa fa-close">&nbsp;</i>
									<h6>Your Message Title Here</h6>
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia burae
								</div>
								<div class="big-message message-orange b-radius5 top40">
									<i class="fa fa-exclamation">&nbsp;</i>
									<h6>Your Message Title Here</h6>
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia burae
								</div>
							</div>
						</article>
					</div>
				</div>

				<div class="row s-row-line margin60">
				</div>

				<div class="row s-row-5">
					<div class="m1170">
						<article class="form-elements f-left width100"><h2 class="hidden">WD</h2>
							<span class="universal-title">Form Elements</span><br /><br />
							<span class="form-header black333 f-left">FORM 1</span>
							<form class="el-form-1 f-left width100" id="el-form-1">
								<div class="col-sm-6 top20 p-right0"><input class="form-1-style2 border1 borderf7 b-radius3" onblur="" placeholder="Atif" />
								</div>
								<div class="col-sm-6 top20 p-right0"><input class="form-1-style2 border1 borderf7 b-radius3" placeholder="Email Address *" />
								</div>
								<div class="col-sm-12 top20 p-right0"><input class="form-1-style2 border1 borderf7 b-radius3" placeholder="Website" />
								</div>
								<div class="col-sm-12 top20 p-right0"><input class="form-1-style2 border1 borderf7 b-radius3" placeholder="Subject" />
								</div>
								<div class="col-sm-12 top20 p-right0">
									<textarea class="form-1-style2 border1 borderf7 b-radius3" placeholder="Comment" ></textarea>
									<input type="submit" value="SUBMIT" class="submit-btn button1-1 b-radius3 right30 button-orange top20">
								</div>
							</form>
						</article>
						<article class="form-elements f-left width100 top40"><h2 class="hidden">WD</h2>
							<span class="universal-title">Form Elements</span><br /><br />
							<span class="form-header black333">FORM 2</span>
							<form class="el-form-2" id="el-form-2">
								<div class="col-sm-12 top20"><input class="form-1-style2 border1 borderf7 b-radius3" placeholder="john@msn.net" /></div>
								<div class="col-sm-12 top20"><input class="form-1-style2 border1 borderf7 b-radius3" placeholder="Password" />
									<br /><br />
									<span class="seo-wisem color777"><b>File Input</b></span>
									<br />			
									<span class="form2-attach btn btn-default btn-file color777">
										<i class="fa fa-paperclip"></i> attach <input type="file">
									</span>
								</div>			
								<div class="top20 left20 f-left display-inline">

									<div class="checkbox checkbox-1 f-left">
										<input id="check1" type="checkbox" name="check" value="check1" checked>
										<label for="check1">Checkbox</label>
									</div>




									<div class="checkbox checkbox-2 f-left">
										<input id="check2" type="checkbox" name="check" value="check2" checked>
										<label for="check2">Checkbox</label>
									</div>


									<div class="checkbox checkbox-3 f-left">
										<input id="check3" type="checkbox" name="check" value="check3" checked>
										<label for="check3">Checkbox</label>
									</div>

								</div>			
								<div class="top20 left20 f-left">
									<div class="f-left styled-radio">				
										<div class="radio radio1">
											<input id="male" type="radio" name="gender" value="male" checked>
											<label for="male"></label>
										</div><div class="radio radio1">
											<input id="female" type="radio" name="gender" value="female">
											<label for="female"></label>
										</div>
									</div>
									<div class="f-left styled-radio">
										<div class="radio radio2">
											<input id="male2" type="radio" name="gender2" value="male2">
											<label for="male2"></label>
										</div><div class="radio radio2">
											<input id="female2" type="radio" name="gender2" value="female2" checked>
											<label for="female2"></label>
										</div>
									</div>

									<div class="f-left styled-radio">
										<div class="radio radio3">
											<input id="male3" type="radio" name="gender3" value="male3" checked>
											<label for="male3"></label>
										</div><div class="radio radio3">
											<input id="female3" type="radio" name="gender3" value="female3">
											<label for="female3"></label>
										</div>
									</div>

									<div class="f-left styled-radio">
										<div class="radio radio4">
											<input id="male4" type="radio" name="gender4" value="male4" checked>
											<label for="male4"></label>
										</div><div class="radio radio4">
											<input id="female4" type="radio" name="gender4" value="female4">
											<label for="female4"></label>
										</div>
									</div>
								</div>			
								<br /><br />
								<div class="col-sm-12 top20">
									<input type="submit" value="SUBMIT" class="submit-btn button1-1 b-radius3 right30 button-blue top20">
								</div>
							</form>
						</article>
						<article class="form-elements f-left width100 top40"><h2 class="hidden">WD</h2>
							<span class="form-header black333">FORM 3</span>
							<div class="width100 f-left">
								<form class="el-form-3 width100" id="el-form-3">
									<div class="col-md-4 top20 p-right0"><input class="form-1-style3 sign-login border1 borderf7 b-radius3" placeholder="john@msn.net" /></div>
									<div class="col-md-4 top20 p-right0"><input class="form-1-style3 sign-password border1 borderf7 b-radius3" placeholder="Password" /></div>
									<div class="col-md-2">
										<div class="checkbox checkbox-2 f-left top30">
											<input id="check5" type="checkbox" name="check" value="check5" checked>
											<label for="check5">Remember Me</label>
										</div>
									</div>
									<div class="col-md-2"><div class="f-left top20"><input type="submit" value="SIGN IN" class="submit-btn button1-1 b-radius3 right30 button-blue "></div></div>
								</form>
							</div>
						</article>
						<article class="form-elements f-left width100 top40"><h2 class="hidden">WD</h2>
							<span class="form-header black333">FORM 4</span>
							<div class="width100 f-left">
								<form class="el-form-4 width100" id="el-form-4">
									<div class="col-sm-12 top20 p-right0 wordwrap"><span class="font13 color777 right20 l-h50 inline-block width100px">Email Address</span><input class="form-1-style2 sign-login border1 borderf7 b-radius3" placeholder="" /></div>
									<div class="col-sm-12 top20 p-right0 wordwrap"><span class="font13 color777 right20 l-h-50 inline-block width100px">Password</span><input class="form-1-style2 sign-password border1 borderf7 b-radius3" placeholder="" /></div>
									<div class="col-sm-12">
										<div class="checkbox checkbox-1 f-left top30">
											<input id="check6" type="checkbox" name="check" value="check6" checked>
											<label for="check6">Remember Me</label>
										</div>
									</div>
									<div class="col-sm-12"><div class="f-left top20"><input type="submit" value="SIGN IN" class="submit-btn button1-1 b-radius3 right30 button-white"></div></div>
								</form>
							</div>
						</article>
						<article class="form-elements f-left width100 top40">
							<h6><b>Dropdown List</b></h6>
							<div class="col-sm-6 top40 p-left0">
								<div class="btn-group width100">
									<div class="custom-select select-type1">
										<select class="chosen-select">
											<option value="1">Action</option>
											<option value="2">Another action</option>
											<option value="3">Something else here</option>
											<option value="4">Separated link</option>
											<option value="5">Another action</option>
										</select>
									</div>
								</div>
								<div class="btn-group width100 top40">
									<div class="custom-select select-type2">
										<select class="chosen-select">
											<option value="1">Action</option>
											<option value="2">Another action</option>
											<option value="3">Something else here</option>
											<option value="4">Separated link</option>
											<option value="5">Another action</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 top40 p-left0">
								<div class="btn-group width100">
									<div class="custom-select select-type3">
										<select class="chosen-select">
											<option value="1">Action</option>
											<option value="2">Another action</option>
											<option value="3">Something else here</option>
											<option value="4">Separated link</option>
											<option value="5">Another action</option>
										</select>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>

			</div>
		</section>

		<footer>
			<div class="container-fluid">
				<div class="row f-first-row newsletter wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s" style="margin-top: 60px!important;">
					<div class="col-sm-6 f-newsletter-l">
						<h3><b class="colorfff uppercase">Newsletter signup</b></h3>
						Get registered for monthly newsletter to updates
					</div>
					<div class="col-sm-6 newsletter-bg padding0">
						<div class="newsletter-input">
							<input class="newsletter-inpup-field width100">
							<input type="submit" value="SIGNUP" class="newsletter-signup f-right">
						</div>
					</div>
				</div>
				<div class="row f-second-row footer">
					<div class="m1170">
						<div class="col-sm-4 f-1td top40 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff footer-title"><b class="footer-title">About wisem</b></h5>
							<div class="footer-logo top30"><a class="footerLogo" href="01-home-1.html"><div class="o-circle"></div><div class="no-wrap"><h5 class="f-wisem color777"><b class="coloraaa">WISEM</b> DIRECTORY</h5></div></a></div>
							<div class="footer-td1-txt coloraaa top30 p-right20">
								Integer ac lorem sit amet est rhoncus dapi bus don cad
								pede acus morbi elit nunc molestie at ultrices eu eleifen
								lorem ut dictum erat masa. Nullam tempus erat id tort
								In hac habitasse platea dictumst.
							</div>
							<div class="button1-1 b-radius3 right30 button-blue top20">Read More</div>
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-2td top40 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff"><b class="footer-title">main categories</b></h5>
							<ul class="list-styles left-40 top30 f-left coloraaa footer-list p-right20">
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Automotive</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Humanities</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Computers</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Education</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Health / Fitness</a></li>
							</ul>
							<ul class="list-styles left-40 top30 f-left">
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Internet Services</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Marketing</a></li>
								<li><a href="#"><i class="fa icon-chevron-right">&nbsp;</i>Technology</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-3td top40 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff"><b class="footer-title">GET IN TOUCH</b></h5>
							<div class="top30 p-right20 coloraaa">
								<b class="uppercase colorfff">WISEM DIRECTORY INC.</b>
								<br />
								Suite # 38, Fireworks Hill, Victoria, WA 12340
								<br />
								<a href="#" class="uppercase">see on map</a>
								<br /><br />
								<table>
									<tr><td>Tele</td><td class="p-left10">(123)  456  7890</td></tr>
									<tr><td>Toll Free</td><td class="p-left10">(1)  002  123  9876  5</td></tr>
									<tr><td>E-mail</td><td class="p-left10">support  (at) wisemdirectory.com</td></tr>
									<tr><td>Fax</td><td class="p-left10">(123)  456  7890</td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row f-third-row footer2">
					<div class="m1170">
						<div class="footer-relative">
							<div class="col-sm-6 left-footer2 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								&copy; 2016 Wisem Directory - All Rights Reserved. <a href="#">Privacy Policy </a>
							</div>
							<div class="col-sm-6 right-footer2 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-facebook">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-google-plus">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-twitter">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-pinterest">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-vimeo">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-dribbble">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-linkedin">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-rss">&nbsp;</i></div>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
		</footer>

		<!--Main-->   
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>

		<!--Switcher-->
		<script src="assets/switcher/js/switcher.js"></script>
		<!--Chosen-->
		<script src="assets/chosen/chosen.jquery.min.js"></script>
		<!--Bootstrap Slider-->
		<script src="js/bootstrap-slider.js"></script>
		<!--Bootstrap datepicker-->
		<script src="js/bootstrap-datepicker.js"></script>
		<!--Bootstrap datepicker-->
		<script src="assets/slider-pro/js/jquery.sliderPro.min.js"></script>

		<!--Theme-->
		<script src="js/jquery.smooth-scroll.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/theme.js"></script>
	</body>
</html>