<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>Template Documentation Template</title>
	<!-- Framework CSS -->
	<link rel="stylesheet" href="assets/blueprint-css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="assets/blueprint-css/print.css" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="assets/blueprint-css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/blueprint-css/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
	<style type="text/css" media="screen">
		p, table, hr, .box { margin-bottom:25px; font-weight:500; }
		.box p { margin-bottom:10px; }
	</style>
</head>


<body>
	<div class="container">
	
		<h3 class="center alt">&ldquo;<strong>PENDO Dreamweaver Ads Template” Documentation by &ldquo;<strong>on3-step</strong>&rdquo;</h3>
		
		<hr>
		
		<h1 class="center">&ldquo;<strong>PENDO Dreamweaver Ads Template</strong>&rdquo;</h1>
		
		<div class="borderTop">
			<div class="span-6 colborder info prepend-1">
				<p class="prepend-top">
					<strong>
					Created: 14/08/2016<br>
					By: on3-step<br>
					Email: <a href="mailto:youremail@yourdomain.com">desmon25@live.com</a>
					</strong>
				</p>
		  </div><!-- end div .span-6 -->		
	
			<div class="span-12 last">
				<p class="prepend-top append-0">Thank you for purchasing my template. If you have any questions that are beyond the scope of this help file, please feel free to email via my user page contact form <a href="http://codecanyon.net/user/on3-step">here</a>. Thanks so much!</p>
			</div>
	  </div><!-- end div .borderTop -->
		
		<hr>
		
	  <h2 id="toc" class="alt">Table of Contents</h2>
		<ol class="alpha">
          <li><u>PSD + Handcode(dreamver template)</u></li>
          <li>Sources and Credits</li>
		</ol>
<hr>
		
	  <p align="center"><strong>A) PSD + Handcode file</strong><br>
	    I've included all size psd and HTML5in this template:</p>
      <ol start="1" type="1">
        <li>rectangle</li>
        <li>lrectangle</li>
        <li>wskyscraper</li>
        <li>leaderboard</li>
        <li>halfpage</li>
      </ol>
      <div align="center">
        <hr size="2" width="100%" align="center">
      </div>
      <p align="center"><strong>&nbsp;</strong><strong>A) HOW TO USE</strong><br>
        <strong>Please  choose Ads serving will use on your campaign</strong><br>
      <img width="518" height="84" src="assets/images/index_clip_image002.jpg"></p>
<h3 id="htmlStructure">&nbsp;</h3>
<hr>
		
	  <p align="center"><strong>Open index.html in Dreamweaver  choose Design view on there</strong><img src="assets/images/1.jpg"><br>
        <br>
      To change position, just Drag and Drop the element  inside and save (ctrl + s)</p>
<p align="center">&nbsp;</p>
      <p align="center">&nbsp;</p>
      <p align="center"><strong>To change property width and  height  change element property on the  bottom</strong><img src="assets/images/1.jpg"></p>
      <p align="center"><br>
      Some of elemet using background-image,  you can change you own element image in same  folder and root, and make sure enought width and height on left panel property</p>
<p align="center">&nbsp;</p>
      <p align="center">&nbsp;</p>
      <p align="center"><strong>Change image</strong><img src="assets/images/2.jpg">      <br>
        <br>
      For change image element, like logo, background, and  button, replace your own element and put it in same folder and root, inside in  template </p>
<p align="center">&nbsp;</p>
      <p align="center">&nbsp;</p>
      <p align="center"><strong>Change text</strong><img src="assets/images/3.jpg"><br>
        <br>
        Rewrite your own text or tagline, and for change the size color of element inside, doubleclick panel  properties on right side,<br>
      <strong>for  add a line break, </strong><strong>place your cursor where you want the new line to start,  Hold down the shift key and press [ENTER].</strong></p>
<p align="center">&nbsp;</p>
      <p align="center">&nbsp;</p>
      <p align="center"><strong>Change  animation</strong><img src="assets/images/4.jpg"><br>
        <br>
      For change animation element, like text, logo,  background,  button or icon, replace your  own animation on this panel property, and also you can change your own text with png file with transparent background</p>
<p align="center">&nbsp;</p>
 <p align="center"><strong>Change hover animation</strong>
      <img src="assets/images/imghov.jpg">
      <br>
      For change Hover animation position and element, goto /*overlay*/ section on style in index.html file, and you can change position there, for change text and element  change with your own image or text, we use .png file there <em>&lt;div id=&quot;text-over&quot;&gt;&lt;img src=&quot;text-over.png&quot; /&gt;&lt;/div&gt;</em></p>
      <p align="center"><strong><br>
      For Advandce front-end developer you  will easy change all element in code view</strong>
      <img src="assets/images/5.jpg"></p>
      <h3 align="center"><strong><br>
      </strong></h3>
      <div align="center">
        <hr size="2" width="100%" align="center">
      </div>
      <p align="center"><strong>B) Sources and Credits - </strong><strong>top</strong><br>
        <br>
        I've used the following font<br>
        <br>
        http://www.1001fonts.com/oswald-font.html<br>
      https://www.google.com/fonts/specimen/Oswald<br>
      <br>
      http://www.1001fonts.com/source-sans-pro-font.html<br>
      https://www.google.com/fonts/specimen/Source+Sans+Pro</p>
      <div align="center">
        <hr size="2" width="100%" align="center">
      </div>
      <p align="center">Once again, thank you so much for purchasing this  Template. As I said at the beginning, I'd be glad to help you if you have any  questions relating to this Template. i have guarantees my file will work in  following ads serving Doubleclick, GDN, Sizmek, but If you want using another  ads serve, i will welcome to assist.<br>
      if you have any comment about my file, please don't hesitate visiting the  forums and asking your question in the &quot;Item Discussion&quot; section.<br>
      <br>
      <br>
      </p>
      
      <div align="center">
      <h2><strong>on3-step</strong></h2>
      </div>
<h3 id="javascript">&nbsp;</h3>
<hr class="space">
	</div><!-- end div .container -->
</body>
</html>