<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<meta name="theme-color" content="#dd2c00"/>
<meta name="robots" content="index,follow" />
<meta property="og:site_name" content="VamShop" />
<meta name="twitter:card" content="summary" />
<title>VamShop - Responsive Email Templates</title>
<meta name="description" content="VamShop">
<meta name="keywords" content="VamShop">
<meta property="og:title" content="VamShop" />
<meta property="og:description" content="VamShop" />
<meta name="twitter:title" content="VamShop" />
<meta name="twitter:description" content="VamShop" />
<link href="dark/vamshop/assets/cache/dark.css" rel="stylesheet">
<link href="dark/vamshop/assets/cache/vamshop-main-block.css" rel="stylesheet">
<link href="dark/vamshop/assets/cache/vamshop4-packed.css" rel="stylesheet">
</head>
<body>

<div class="container">

<div class="jumbotron mainpage black p-4 p-md-5 text-white bg-dark">
<div class="row mb-2">
<div class="col-md-6 px-0 my-auto">
<h1 class="display-5 text-uppercase font-weight-bold">VamShop - Responsive Email Templates</h1>
<p class="my-3">The transactional emails sent through your site are critically important emails.<br />

Customizing those emails is a simple and effective way to differentiate yourself from the competition.<br />

Make them look beautiful with our professional quality email templates.</p>

<p class="lead mb-0">
<div class="btn-group">
<a class="btn btn-add-to-cart btn-lg" href="dark/index.html">Dark Theme</a>
<a class="btn btn-add-to-cart btn-lg" href="light/index.html">Light Theme</a>
</div>
</p>
</div>
<div class="col-md-6 px-0 my-auto text-center">
<a href="dark/"><img class="img-fluid" src="dark/vamshop/images/icons/vamshop-box-256.png" alt="VamShop" /></a>
</div>
</div>
</div>  

<div class="vamshop-block mainpage block-1">
  <div class="container">
  
<div class="card-deck h-100">

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-tachometer-alt white"></i></span>
    <h6 class="title text-light">Fast and Simple</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-piggy-bank white"></i></span>
    <h6 class="title text-light">No external API's</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div><!-- col // -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-mobile-alt white"></i></span>
    <h6 class="title text-light">Fully Responsive</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div><!-- col // -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-shopping-cart white"></i></span>
    <h6 class="title text-light">No JS, pure HTML + CSS</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div><!-- col // -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-percent white"></i></span>
    <h6 class="title text-light">No external libraries</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div><!-- col // -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
<div class="card card-product card-sm h-100 text-center">
  <div class="card-header h-100 orange">
    <span class="my-2 icon-wrap rounded icon-md"><i class="fa fa-hand-holding-usd white"></i></span>
    <h6 class="title text-light">No external files</h6>
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div><!-- col // -->

</div><!-- card-deck // -->
  </div>
  

</div>

</div>

</body>
</html>
